In [2]:
print('Hello World')

Hello World

The above is a code

This is raw NB conneco

# This is Heading

In [3]:
a = 'hello world'

In [4]:
print(a)

hello world

In [5]:
print(A)

NameError: name 'A' is not defined

In [6]:
a = '21234'

In [8]:
a = 1234

In [9]:
print(a)

1234

In [1]:
a = '21234'

In [2]:
b = 21234

In [ ]:
# type() >> tells us about what is the datatype

In [3]:
type(a)

str

In [4]:
type(b)

int

In [ ]:
# len () >> how many characters are there in the variable

In [8]:
len (a)

5

In [6]:
len(b)

TypeError: object of type 'int' has no len()

In [ ]:
# How to input the data
# Input

In [ ]:
# we have two types of variables 
# Global 
# Local

In [ ]:
#Input() >> this will ask the user to enter the value

In [7]:
input("what is the rollnumber")

what is the rollnumber123

'123'

In [ ]:
#concatenation operators >> these are used to add one or more strings

In [9]:
a = 'Hi'

In [10]:
b = 'jai'

In [11]:
print( a + b)

Hijai

In [12]:
print( a +' '+ b)

Hi jai

In [14]:
print('Your Roll'+input("wht is the rollnumber"))

wht is the rollnumber123
Your Roll123

In [15]:
print('Your Roll '+input("wht is the rollnumber: "))

wht is the rollnumber: 123
Your Roll 123

In [16]:
a = input("wht is the rollnumber: ")

wht is the rollnumber: 123

In [17]:
type(a)

str

In [18]:
print('Your Roll '+ a)

Your Roll 123

In [21]:
print(2 + 3)

5

In [24]:
# Python is very strict in indentation 

print(a)
#while loop 
#    --- do statements ---
#    --- do statements ---
#    --- do statements ---
#    --- do statements ---
#    --- do statements ---
# end loop

IndentationError: unexpected indent (<ipython-input-24-49e1becec228>, line 3)

In [ ]:
HW >>
   write the input statements to input some value from user to enter his dob asking in 3 statements
    concatinate it in the proper way of (mm/DD/yyyy)
# Hw >> Create a user defined funcion and check the global and local variables

In [ ]:
 # operators
    = ,== ,And  /  not

In [25]:
a = 1
b = 2
c = 3

print(a > b)

False

In [26]:
print(a < b and b < c )

True

In [27]:
print(a < b and b > c )

False

In [29]:
print(a == b and b < c )

False

In [ ]:
a = 1
b = 1
c = 3

In [35]:
print(a < b or b > c )

True

In [ ]:
#Naming conventions

1) we have to have the starting word to be a character

a123 (right)
1emp (wrong)
a_123 (right)
_a (right)

you can use the Captial letters, small letters and numericals

In [36]:
# Functions >>

# we can use the functions in multiple times
# no need to rewrite the whole code
# Global variable 
    # 
# Local Variable

# To create a user defined function below is the syntax

# def <name of function>():
#         --- statements --
# to call the function <functionName>()

def rollnumber():
        roll = 25
        
        print(roll)

In [37]:
rollnumber()

25

In [38]:
roll = 50

In [39]:
rollnumber()

25

In [40]:
print(roll)

50

In [46]:
roll = 75
def rollnumber():
        roll = 50
        print(roll)
rollnumber()        
print(roll)

50
75

In [43]:
rollnumber()

50

In [44]:
print(roll)

75

In [ ]:
def rollnumber():
        roll = 50
        print(roll)
rollnumber()        
print(roll)

In [ ]:
# Hw >> Create a user defined funcion and check the global and local variables

In [ ]:
# In python we deal with containers >>

# what is container  >> the space of memory where the values are assigned and we can do the manipulation on it.
# Tuples
# Dictionaries (dict)

In [ ]:
# what are tuples
# it can store the number,characters , float or boolean 
# it can be indexed
# it can be sliced
# it can be converted to other containers

In [47]:
a = (1,2,3,4,5)

In [48]:
type(a)

tuple

In [2]:
a = (1,2,3,4,5,'abc','def',14.2)

In [3]:
type(a)

tuple

In [4]:
print(a)

(1, 2, 3, 4, 5, 'abc', 'def', 14.2)

In [4]:
# using the Index we can get the specific data as needed.

In [5]:
b = a[:4]

In [6]:
print(b)

(1, 2, 3, 4)

In [7]:
# we have the negative indeing also which will pull the data from reverse.

In [8]:
b = a[-4:]

In [9]:
print(b)

(5, 'abc', 'def', 14.2)

In [11]:
print(a[2:6])

(3, 4, 5, 'abc')

In [12]:
# skipping the values 
print(a[::2])

(1, 3, 5, 'def')

In [13]:
print(a[::4])

(1, 5)

In [14]:
# Concatination + and nested tupels are different

print(b)

(5, 'abc', 'def', 14.2)

In [15]:
print(a)

(1, 2, 3, 4, 5, 'abc', 'def', 14.2)

In [16]:
# nested tuple
c =(a,b)

In [18]:
print(type(c))

<class 'tuple'>

In [19]:
print(c)

((1, 2, 3, 4, 5, 'abc', 'def', 14.2), (5, 'abc', 'def', 14.2))

In [21]:
print(len(c))

2

In [22]:
print(c[1])

(5, 'abc', 'def', 14.2)

In [23]:
#concatenation
d = (a + b)

In [24]:
print(type(d))

<class 'tuple'>

In [25]:
print(d)

(1, 2, 3, 4, 5, 'abc', 'def', 14.2, 5, 'abc', 'def', 14.2)

In [26]:
print(len(d))

12

In [ ]:
# HW >>
# min 
# max

In [27]:
singleval = (1)

In [28]:
type(singleval)

int

In [29]:
singleval = (1,)

In [30]:
type(singleval)

tuple

In [31]:
emptyt = ()

In [32]:
print(type(emptyt))

<class 'tuple'>

In [ ]:
#HW >> Create empty  tuple 
# add the values to it
# i need the values of 10

In [35]:
tpl2 = d

In [36]:
len(tpl2)

12

In [37]:
for x in tpl2:
    print(x)

1
2
3
4
5
abc
def
14.2
5
abc
def
14.2

In [39]:
# to read the data using index values we will use len and range system functions

for x in range(len(tpl2)):
    print(tpl2[x])

1
2
3
4
5
abc
def
14.2
5
abc
def
14.2

In [31]:
# Lists 
lst1 = ['data','code','pass',1,45,78,33.5,True,1,0]

In [2]:
print(lst1)

['data', 'code', 'pass', 1, 45, 78, 33.5, True, 1, 0]

In [3]:
print(type(lst1))

<class 'list'>

In [4]:
print(lst1[:5])

['data', 'code', 'pass', 1, 45]

In [5]:
print(lst1[3:8])

[1, 45, 78, 33.5, True]

In [6]:
# Hw >>
    # practice the other 
    # pull only last 4 items

In [7]:
# change the individual values
lst1[0] = 'data3'

In [8]:
print(lst1)

['data3', 'code', 'pass', 1, 45, 78, 33.5, True, 1, 0]

In [9]:
lst1[-1] = '500'

In [10]:
print(lst1)

['data3', 'code', 'pass', 1, 45, 78, 33.5, True, 1, '500']

In [11]:
# change the values in a range
lst1[1:3]= ["a","b"]

In [12]:
print(lst1)

['data3', 'a', 'b', 1, 45, 78, 33.5, True, 1, '500']

In [13]:
# Add items to the list
# 1) append()
# 2) Insert
lst1.append("core")

In [14]:
print(lst1)

['data3', 'a', 'b', 1, 45, 78, 33.5, True, 1, '500', 'core']

In [15]:
lst1.insert(1,"core")

In [16]:
print(lst1)

['data3', 'core', 'a', 'b', 1, 45, 78, 33.5, True, 1, '500', 'core']

# Remove >> To delete , or clear the existing list
remove 
pop >> with index >> will remove only the indexed value
pop  >> with out index will delete the values randomly
del >> to delte the list
clear >> to clear all the values in thelist

In [17]:
lst1.remove("core")
# if we have duplicates and the same value is deleted then it will delete the first occurance.

In [18]:
print(lst1)

['data3', 'a', 'b', 1, 45, 78, 33.5, True, 1, '500', 'core']

In [19]:
# the pop() function will delete any value randomly
lst1.pop()

'core'

In [20]:
lst1.pop(1)

'a'

In [21]:
print(lst1)

['data3', 'b', 1, 45, 78, 33.5, True, 1, '500']

In [22]:
lst2 = lst1

In [23]:
del lst1

In [24]:
print(lst1)

NameError: name 'lst1' is not defined

In [25]:
print(lst2)

['data3', 'b', 1, 45, 78, 33.5, True, 1, '500']

In [26]:
lst3 = lst2

In [27]:
lst2.clear()

In [28]:
print(lst2)

[]

In [ ]:
# loop i list
# append
# sorting
# difference between delete and pop
# tuple
   # how to change the values

In [32]:
print(lst1)

['data', 'code', 'pass', 1, 45, 78, 33.5, True, 1, 0]

In [33]:
# Looping of list
for x in lst1:
    print(x)

data
code
pass
1
45
78
33.5
True
1
0

In [37]:
# getting the values with indexes.
for x in range(len(lst1)):
    print(lst1[x])

data
code
pass
1
45
78
33.5
True
1
0

In [40]:
# sorting
print(lst1)

['code', 'data', 'pass', 1, 45, 78, 33.5, True, 1, 0]

In [41]:
lst1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [48]:
lst4 = [88,46,23,1,9]

In [49]:
#lst5=lst4.sort()

lst4

[88, 46, 23, 1, 9]

In [50]:
# by default the order will be in ascending
lst4.sort()

In [51]:
lst4

[1, 9, 23, 46, 88]

In [52]:
# order in descending 
lst4.sort(reverse=True)

In [53]:

lst4

[88, 46, 23, 9, 1]

In [56]:
lst5 = lst4.copy()

In [57]:
print(lst5)

[88, 46, 23, 9, 1]

In [ ]:
# append
# insert
# copoy
# delete
# remove
# pop
# order

In [ ]:
# Tuples >> Ordered, Un-changeable, and will allow the duplicates.
# Lits  >> Ordered,changeable and will allow the duplicates.

In [ ]:
# Sets {} 
# >> Sets will ber used to store multiple items in a single variable
# A set is a collection which is un-ordered unchangeable and unidexed
# No duplicates are allowed.
# False and 0 are same / True and 1 are same

In [58]:
st1 = {"a","b","c"}

In [59]:
print(st1)

{'c', 'a', 'b'}

In [85]:
st2 = {"a","a","b","c","d","d"} # in this we have added the duplicates but sets will not allow the duplicates

In [61]:
print(st2)

{'c', 'd', 'a', 'b'}

In [62]:
st3 = {"a","b","c",0,False}

In [63]:
print(st3)

{0, 'c', 'a', 'b'}

In [64]:
st3 = {"a","b","c",True,1}

In [65]:
print(st3)

{True, 'c', 'a', 'b'}

In [66]:
# To Add the new values to the set.
st3.add("z")

In [68]:
print(st3)

{True, 'a', 'b', 'z', 'c'}

In [69]:
# Update this will also used to add new items to the list.

print(st1)
print(st2)

{'c', 'a', 'b'}
{'c', 'd', 'a', 'b'}

In [78]:
st1.update(st2)

AttributeError: 'NoneType' object has no attribute 'update'

In [75]:
print(st1)

None

In [ ]:
# Remove set items

In [77]:
print(st2)

{'c', 'd', 'a', 'b'}

In [79]:
st2.remove("a")

In [80]:
print(st2)

{'c', 'd', 'b'}

In [81]:
# discard
st2.discard("b")

In [82]:
print(st2)

{'c', 'd'}

In [83]:
# pop

st2.pop()

'c'

In [84]:
print(st2)

{'d'}

In [ ]:
# del >> this will delete the set
# Clear  >> this will clear the set

In [87]:
st2.clear()

In [88]:
st2

set()

In [89]:
# delete the set using del function
del st2

In [90]:
print(st2)

NameError: name 'st2' is not defined

In [ ]:
# in the remove function if there is no such items to be removed it will raise an error
# in the discard functin if there is no item to be removed it will not raise any error.

In [ ]:
# Dictionaries >>

# A dictioary is a collection which is ordered , changeable and dot now allow duplicates
# this uses or shows the data in a Key Value pair

# Syntax >>

# <dictionary Name> = {
#         "Key1" : "value1",
#         "Key2" : "value2",
#         "Key3" : "value3"
# }

In [92]:
dict1 = {
    "cbrand" :"Maruthi",
    "model"  : "swift",
    "year"   : 2016    
}

In [93]:
print(dict1)

{'cbrand': 'Maruthi', 'model': 'swift', 'year': 2016}

In [94]:
dict1 = {
    "cbrand" :"Maruthi",
    "model"  : "swift",
    "year"   : 2016,
    "Accesories" : ["fog lamps","wipers","back camera"]
    
}

In [95]:
print(dict1)

{'cbrand': 'Maruthi', 'model': 'swift', 'year': 2016, 'Accesories': ['fog lamps', 'wipers', 'back camera']}

In [96]:
# Change Values 
dict1 = {
    "cbrand" :"Maruthi",
    "model"  : "swift",
    "year"   : 2016    
}

dict1["year"] = 2024

In [97]:
print(dict1)

{'cbrand': 'Maruthi', 'model': 'swift', 'year': 2024}

In [99]:
# update() >> this is also used to update the values
dict2 = {
    "cbrand" :"Maruthi",
    "model"  : "swift",
    "year"   : 2016    
}

In [100]:
dict2.update({"year" : 2060})

In [101]:
print(dict2)

{'cbrand': 'Maruthi', 'model': 'swift', 'year': 2060}

In [102]:
# Add items >>
dict3 = {
    "cbrand" :"Maruthi",
    "model"  : "swift",
    "year"   : 2016    
}
dict3["cost"] = 500000

In [103]:
print(dict3)

{'cbrand': 'Maruthi', 'model': 'swift', 'year': 2016, 'cost': 500000}

In [106]:
 # Removing items >>
dict4 = dict3

In [107]:
dict4.pop("model")

'swift'

In [120]:
dict2.remove("model")

AttributeError: 'dict' object has no attribute 'remove'

In [119]:
dict2

{'cbrand': 'Maruthi', 'model': 'swift', 'year': 2060}

In [110]:
dict4.popitem() # this will delete the last item added.

('cost', 500000)

In [111]:
del dict4

In [112]:
print(dict4)

NameError: name 'dict4' is not defined

In [114]:
dict3

{'cbrand': 'Maruthi', 'model': 'swift', 'year': 2060}

In [115]:
dict3.clear()

In [116]:
dict3

{}

In [ ]:
# Tuples >> Ordered, Un-changeable, and will allow the duplicates.
# Lits  >> Ordered,changeable and will allow the duplicates.
# set >> un-ordered, un-chngeable, un-indexed and no duplicate items
# dict >. ordered, changeable and no duplicates

In [ ]:
#03/18/2024
# If- Else statements
# while Loops
# for Loops
# functions

In [ ]:
# Conditional Statements
'''Conditional statements (if, else, and elif) are fundamental
programming constructs that allow you to control the flow 
of your program based on conditions that you specify'''

In [154]:
age=int(input("enter your age:"))
if (age <=18):
    print("Not elegible to vote")
else:
    print("Eligible to vote")

enter your age:30
Eligible to vote

In [ ]:
# hw>> odd even

In [159]:
#nested if 
# if we have a scenario where we have an if inside an if condition 
members=int(input("how many members we have today:"))
if members >= 15:
        print ("good count")
        member2=int(input("how many members we have yesterday:"))
        if member2 >= 15:
            print ("good count again")
        else:
            print("Class was cancled yesterday")
print("class cancel")

how many members we have today:10

In [163]:
# If-else & elif
ride = input("Select Your ride:")
if ride == 'bus':
    station =input("Where you want to go:")
    if station == 'chennai':
        print ("Ticket cost is 800/- Only")
        
    elif station == 'Hyderabad': 
                print ("Ticket cost is 900/- Only")
            
    elif station == 'mysore':  
            print ("Ticket cost is 600/- Only")
    elif station == 'gurgaon':
            print('Ticket cost is 1000/- Only')
    else:
         print ("We wont ride")
else:
    print("Sorry we dont have the ride")

Select Your ride:bus
Where you want to go:tamilnadu
We wont ride

In [ ]:
'''Hw >>
    Create a if else conditions to check the entry of exhibition
    if height <= 3 feet 
        it a free
    
    height >= 4 and age is < 14 and age > 7
        different payment 
    
    height >= 4 and age is > 14 
        then its a payment
    
    height >= 4 and age is > 60
        discounted price and give the amount.
   '''

In [ ]:
# Loops >>
# For Loop 
# While Loop

In [ ]:
for <variable> in <name of the dataset>:
    <Statements>

In [164]:
list1 = [22,33,44,55,66]
for i in list1:
    print(i)

22
33
44
55
66

In [167]:
# insertinng other statements
list1 = [22,33,44,55,66]
for i in list1:
    print(i)

else: 
    print("Loop completed successfully")

22
33
44
55
66
Loop completed successfully

In [170]:
# insertinng other statements
list1 = [22,33,44,55,66]
for i in list1:

    if i == 88:
        print("am goning to exit")
        break
        
    print(i)
else: 
    print("Loop completed successfully")

print ("Out of Loop")

22
33
44
55
66
Loop completed successfully
Out of Loop

In [ ]:
Hw >>
1) take the input numbers and then square them and print
2) take a emply list put in the squred numbers into it.
3) merge both the data sets

In [171]:
count = 10
while count > 5:
    print(count)
    count -=1

10
9
8
7
6

In [172]:
count = 10
while count > 5:
    print(count)
    count -=1   
    print(count)
else:
    print("In else block")
    
print("Out of while loop")

10
9
9
8
8
7
7
6
6
5
In else block
Out of while loop

In [175]:
count = 10
while count > 5:
    print(count)
    count -=1   
    if count == 7:
        break
else:
    print("In else block")

print("Out of while loop")

10
9
8
Out of while loop

In [162]:
#20/03/2024 >>
# fstring
'''
    1)conctination operator 
    2) f string (3.6 and later)
'''
name = "shiva"
age = 40
height = 6

# conactination operators

# print("Hi my name is "+name+' my age is 60 ')

# print("Hi my name is "+name+' and we are "Egales"')

#print(f"<statement {} >")

print(f"hi My name is {name} my age is {age} and am {height} feet hight")

# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# functions
'''def <function_name> (<Parameters and is optional>): 
    function_body
    return variable <optional> '''
# Functions
# 2 types

hi My name is shiva my age is 40 and am 6 feet hight

'def <function_name> (<optional>): \n    function_body\n    return variable <optional> '

In [163]:
def hi():
    pass
    print("hello world")
    
    # Break
    # pass
    # continue

In [164]:
hi()

hello world

In [165]:
def hi():
    return("hello world")

In [166]:
hi()

'hello world'

In [167]:
print(hi())

hello world

In [168]:
hi1 = hi()

In [169]:
print(hi1)

hello world

In [170]:
def hi(name):
    print("hello"+name)

In [171]:
hi("ram")

helloram

In [172]:
def hi(name): # This is called as Parameters
    print("hello"+' '+name)
    print("hello "+name)
    print(f"hello {name}")

In [173]:
hi("ram") # this is called as argument.

hello ram
hello ram
hello ram

In [ ]:
#difference between Arguments and parameters
#the Actual parameter that user passes is called arguement
# the one that is defined during the creation of function is called parameter

'''def <function_name> (<optional> -- this is a parameter): 
    function_body
    return variable <optional> >> Arguement '''

In [174]:
def add(a,b):
    c = a+b
    print(c)

In [175]:
add(6,3)

9

In [176]:
def mult(a,b):
    c = a*b
    print(c)

In [177]:
mult(3,6)

18

In [ ]:
#Hw please work on combining all the mathematical (division/substraction ; even and odd number detection)
# 3 function 

# write a single function to accept from the user 
# what he wants to do and even and odd number detection has to out of 
# mathematical and should tell us if the given numbers are 
# odd or even.

# create the funcition which will take the two values and as per the user input we have to perform the given arthmetic operation.

In [ ]:
# return values in functions
# retrun function will accept the input values and then get processed 
#and the move the ouput to the caller it is called as return values

In [21]:
def add(a,b):
    c = a+b
    return (c)

In [ ]:
# Process Orinted Programming
    # less secure compared to that of OOP's
    # the POP is not recommended to use in major Programmes or applications
    
# Object Oriented Programming
    # More secure 
    # uses inidividual functions which are linked to only one method
    # Easy to understand the code and more resuable.
    
# Lower
# sum

what is object 
 >> Oriented >> interested in some thing or some one 



    
print('HELLO'.lower())

In [178]:
a = 10
print(type(a))

<class 'int'>

In [179]:
print('HELLO'.lower())

hello

In [180]:
print(type('hello'))

<class 'str'>

In [125]:
print(type(123))

<class 'int'>

In [126]:
print('HELLO'.lower())

hello

In [ ]:
# what is a class

In [ ]:
# Now lets take the example of building a house

# Variable >> attributes
    
# functions >> methods
# Object

# syntax >> 
class <classname>:
#    ----
#    ---<statements>
#    ---
 



# 22/03/2024

In [192]:
class building:
    pass
building_1=building()

In [193]:
print(type(building_1))

<class '__main__.building'>

In [196]:
building_1=building()
building_1.type="budget"
building_1.area="250yards"

In [197]:
print(building_1.type)

budget

In [198]:
building_2=building()
building_2.type="luxurios"
building_2.area="600yards"

In [200]:
print(building_2.area)

600yards

In [ ]:
# __init__(self): >> this is an initializer which will initialize the attributes of a function
# self tell us on which are actually calling the function

In [203]:
class building:
    def __init__(self):
        print("new building")

In [204]:
building_1=building()
building_1.type="budget"
building_1.area="250yards"

new building

In [205]:
building_2=building()
building_2.type="luxurios"
building_2.area="600yards"

new building

In [ ]:
# example 2

In [206]:
class building:
    def __init__(self,build_type, build_area):
        self.building1 = build_type
        self.area1 = build_area
        
        print("new building")

In [207]:
building_1=building("budget","250 sq yards")

new building

In [210]:
print(building_1.area1)

250 sq yards

In [211]:
print(building_1.building1)

budget

In [212]:
class building:
    def __init__(self,build_type, build_area):
        self.building1 = build_type
        self.area1 = build_area
        self.cars = 0 # assigning default value 
        print("new building")

In [215]:
building_1=building("budget","250 sq yards")

new building

In [216]:
print(building_1.area1)

250 sq yards

In [217]:
print(building_1.cars)

0

In [218]:
class building:
    cars=0
    def __init__(self,build_type, build_area):
        self.building1 = build_type
        self.area1 = build_area
        print("new building")

In [219]:
print(building_1.cars)

0

In [220]:
building_2=building("luxurious","750 sq yards")

new building

In [221]:
print(building_2.cars)

0

In [222]:
print(building_2.area1)

750 sq yards

In [223]:
# Adding methods to the OOp

class building:
    cars=0
    def __init__(self,build_type, build_area):
        self.building1 = build_type
        self.area1 = build_area
        print("new building")
        
    def display(self):
        print(f"Hi this is a display field")

In [225]:
building1=building("budget2","300 sq yards")
print(building1.area1)
building1.display()

new building
300 sq yards
Hi this is a display field

In [233]:
# adding the value from class in method
# Adding methods to the OOp

class building:
    cars=0
    def __init__(self,build_type, build_area):
        self.building1 = build_type
        self.area1 = build_area
        print("new building")
        
    def display(self):
        print(f"Hi this is a display field of {self.area1} size")
        
    def cars_owner(self):
        print(f"Hi the owner has {self.cars}.")

In [236]:
building1=building("budget2","300 sq yards")
print(building1.area1)
building1.display()
building1.cars_owner()

new building
300 sq yards
Hi this is a display field of 300 sq yards size
Hi the owner has 0.

In [245]:
# passing the parameters to the method
# self is assinged only at the class level and we cannot use the self in the attributes defined in the methods while calling them in the methods.
class building:
    cars=0
    def __init__(self,build_type, build_area,gift):
        self.building1 = build_type
        self.area1 = build_area
        self.gift_gold = gift
        print("new building")
        
    def display(self):
        print(f"Hi this is a display field of {self.area1} size and we have a gift of {self.gift_gold} on each purchase")

In [246]:
building1=building("budget2","300 sq yards","5gms Gold bar")
print(building1.area1)
building1.display()

new building
300 sq yards
Hi this is a display field of 300 sq yards size and we have a gift of 5gms Gold bar on each purchase

In [251]:
# passing the parameters to the method
# self is assinged only at the class level and we cannot use the self in the attributes defined in the methods while calling them in the methods.
class building:
    cars=0
    def __init__(self,build_type, build_area):
        self.building1 = build_type
        self.area1 = build_area
        print("new building")
        
    def display(self,gift):
        print(f"Hi this is a display field of {self.area1} size and we have a gift of {gift} on each purchase")

In [252]:
building1=building("budget2","300 sq yards")
print(building1.area1)
building1.display("5gms Gold bar")

new building
300 sq yards
Hi this is a display field of 300 sq yards size and we have a gift of 5gms Gold bar on each purchase

In [296]:
# passing the parameters to the method
# self is assinged only at the class level and we cannot use the self in the attributes defined in the methods while calling them in the methods.
class building:
    cars=0
    def __init__(self,build_type, build_area):
        self.building1 = build_type
        self.area1 = build_area
        print("new building")
        
    def display(self,gift):
        print(f"Hi this is a display field of {self.area1} size and we have a gift of {gift} on each purchase")
        
    def update_cars(self,cars1):
                self.cars += 1

In [297]:
building1=building("budget2","300 sq yards")
print(building1.area1)
building1.display("5gms Gold bar")
building1.update_cars('jai')
print(building1.cars)

new building
300 sq yards
Hi this is a display field of 300 sq yards size and we have a gift of 5gms Gold bar on each purchase
2

In [290]:
building1.update_cars(1)
print(building1.cars)

1
1

In [ ]:
# 25/03/2024
# Inheritance >>
    # Inheritance allows us to define a class that inhertis all the methods and properties from another class
    
    # The class from which we inherit is called parent class or Base class
    
    # The class that inherits from parent is called child class or derived class
    
# Polymorphism >>

In [73]:
class aprtmnt():
    def floors(self):
        print ("We have 10 floors")
    def houses(self):
        print ("we have 3 flats per floor")

In [79]:
class aprtmnt2():
    def floors(self):
        print ("We have 10 floors")
    def houses(self):
        print ("we have 3 flats per floor")

In [80]:
aprtmnt1=aprtmnt2()
aprtmnt1.floors()

We have 10 floors

In [74]:
aprtmnt1=aprtmnt()
aprtmnt1.floors()

We have 10 floors

In [75]:
class aprtmnt2(aprtmnt):
    pass

In [76]:
aprtmnt_1=aprtmnt2()
aprtmnt_1.floors()
aprtmnt_1.houses()

We have 10 floors
we have 3 flats per floor

In [77]:
class aprtmnt2(aprtmnt):
    def floors(self):
        print ("We have 20 floors") # Parent overriding 
    def wood(self):
        print ("we use Pine wood for furniture and doors")

In [78]:
aprtmnt_2=aprtmnt2()
aprtmnt_2.floors()
aprtmnt_2.houses()
aprtmnt_2.wood()

We have 20 floors
we have 3 flats per floor
we use Pine wood for furniture and doors

In [81]:
class aprtmnt2(aprtmnt):
    def floors(self):
        print ("We have 20 floors")
        super().floors()
    def wood(self):
        print ("we use Pine wood for furniture and doors")

In [82]:
aprtmnt_3=aprtmnt2()
aprtmnt_3.floors()
aprtmnt_3.houses()
aprtmnt_3.wood()

We have 20 floors
We have 10 floors
we have 3 flats per floor
we use Pine wood for furniture and doors

In [83]:
class aprtmnt():
    def __init__(self):
        self.num_carparkings=2
        self.num_bikeparkings=1
        
    def floors(self):
        print ("We have 10 floors")
    def houses(self):
        print ("we have 3 houses per floor")

In [84]:
class aprtmnt2(aprtmnt):
    def floors(self):
        print ("We have 20 floors")
        super().floors()
    def wood(self):
        print ("we use Pine wood for furniture and doors")

In [85]:
aprtmnt_3=aprtmnt2()
aprtmnt_3.floors()
aprtmnt_3.houses()
aprtmnt_3.wood()
print(aprtmnt_3.num_carparkings)

We have 20 floors
We have 10 floors
we have 3 houses per floor
we use Pine wood for furniture and doors
2

In [86]:
class aprtmnt2(aprtmnt):
    def __init__ (self,name):
       self.name=name 
    def floors(self):
        print ("We have 20 floors")
        super().floors()
    def wood(self):
        print ("we use Pine wood for furniture and doors")

In [87]:
aprtmnt_3=aprtmnt2()
#aprtmnt_3.floors()
#aprtmnt_3.houses()
#aprtmnt_3.wood()
print(aprtmnt_3.num_carparkings)

TypeError: __init__() missing 1 required positional argument: 'name'

In [88]:
class aprtmnt2(aprtmnt):
    def __init__ (self,build_name):
       super().__init__()
       self.name=build_name
    def floors(self):
        print ("We have 20 floors")
        super().floors()
    def wood(self):
        print ("we use Pine wood for furniture and doors")

In [89]:
aprtmnt_3=aprtmnt2("Alka Heights")
print(aprtmnt_3.num_carparkings)
print(aprtmnt_3.name)

2
Alka Heights

In [90]:
class aprtmnt():
    def __init__(self,vacant):
        self.num_carparkings=2
        self.num_bikeparkings=1
        self.vacant=vacant
    def floors(self):
        print ("We have 10 floors")
    def houses(self):
        print ("we have 3 houses per floor")

In [91]:
class aprtmnt2(aprtmnt):
    def __init__ (self,build_name):
       super().__init__()
       self.name=build_name
    def floors(self):
        print ("We have 20 floors")
        super().floors()
    def wood(self):
        print ("we use Pine wood for furniture and doors")

In [93]:
aprtmnt_3=aprtmnt2("Alka Heights")
print(aprtmnt_3.num_carparkings)
print(aprtmnt_3.name)

TypeError: __init__() missing 1 required positional argument: 'vacant'

In [94]:
class aprtmnt2(aprtmnt):
    def __init__ (self,build_name,vacant):
       super().__init__(vacant)
       self.name=build_name
    def floors(self):
        print ("We have 20 floors")
        super().floors()
    def wood(self):
        print ("we use Pine wood for furniture and doors")

In [95]:
aprtmnt_3=aprtmnt2("Alka Heights")
print(aprtmnt_3.num_carparkings)
print(aprtmnt_3.name)

TypeError: __init__() missing 1 required positional argument: 'vacant'

In [98]:
aprtmnt_3=aprtmnt2("Alka Heights",30)
print(aprtmnt_3.num_carparkings)
print(aprtmnt_3.name)
print(aprtmnt_3.vacant)

TypeError: __init__() missing 1 required positional argument: 'vacant'

In [102]:
class aprtmnt2(aprtmnt):
    def __init__ (self,build_name,vacant):
       super().__init__(vacant)
       self.name=build_name
    def floors(self):
        print ("We have 20 floors")
        super().floors()
    def wood(self):
        print ("we use Pine wood for furniture and doors")
    def display(self):
        print(f"Welcome to {self.name} we are having only {self.vacant} Flats Vacant")

In [ ]:
aprtmnt_3=aprtmnt2("Alka Heights",30)
print(aprtmnt_3.num_carparkings)
print(aprtmnt_3.name)
print(aprtmnt_3.vacant)

In [103]:
aprtmnt_3=aprtmnt2("Alka Heights",30)
aprtmnt_3.display()

Welcome to Alka Heights we are having only 30 Flats Vacant

In [ ]:
# Excercise 1
# Class Inheritance
# Define a property that must have the same value for every class instance (object)
# Class Inheritance
# Check type of an object
# Determine if School_bus is also an instance of the Vehicle class

In [17]:
# Abstraction
from abc import ABC, abstractmethod

In [18]:
from abc import ABC, abstractmethod

class Polygon(ABC):
    @abstractmethod
    def noofsides(self):
        pass

class Triangle(Polygon):

    # overriding abstract method
    def noofsides(self):
        print("I have 3 sides")


class Pentagon(Polygon):

    # overriding abstract method
    def noofsides(self):
        print("I have 5 sides")


class Hexagon(Polygon):

    # overriding abstract method
    def noofsides(self):
        print("I have 6 sides")


class Quadrilateral(Polygon):

    # overriding abstract method
    def noofsides(self):
        print("I have 4 sides")

In [19]:
R = Triangle()
R.noofsides()

K = Quadrilateral()
K.noofsides()

R = Pentagon()
R.noofsides()

K = Hexagon()
K.noofsides()

I have 3 sides
I have 4 sides
I have 5 sides
I have 6 sides

In [20]:
from abc import ABC, abstractmethod

class Animal(ABC):

    def move(self):
        pass

class Human(Animal):

    def move(self):
        print("I can walk and run")

class Snake(Animal):

    def move(self):
        print("I can crawl")

class Dog(Animal):

    def move(self):
        print("I can bark")

class Lion(Animal):

    def move(self):
        print("I can roar")

In [21]:
R = Human()
R.move()

K = Snake()
K.move()

R = Dog()
R.move()

K = Lion()
K.move()

I can walk and run
I can crawl
I can bark
I can roar

In [ ]:
# Polymorphism

In [22]:
1 + 2

3

In [23]:
'1'+'2'

'12'

In [ ]:
len >>

In [25]:
print(len('Data'))

4

In [29]:
l = ['a','b','c','d',1,2,[1,23,54,68,97,]]

In [30]:
len(l)

7

In [33]:
dict1={
        1:'data',
        2:"software",
        3:"testing"
}

In [34]:
len(dict1)

3

In [36]:
class sleep:
  def __init__(self, prop1, prop2):
    self.prop1 = prop1
    self.prop2 = prop2

  def action(self):
    print("Sleep!")

class walk:
  def __init__(self, prop1, prop2):
    self.brand = prop1
    self.model = prop2

  def action(self):
    print("walk!")

class eat:
  def __init__(self, prop1, prop2):
    self.brand = prop1
    self.model = prop2

  def action(self):
    print("food!")

sleep1 = sleep("pillow", "bed")
walk1 = walk("shoe", "20") 
eat1 = eat("food", "calories") 

for x in (sleep1, walk1, eat1):
  x.action()

walk!
food!

In [37]:
class activities:
  def __init__(self, prop1,prop2):
    self.prop1 = prop1
    self.prop2 = prop2

  def action(self):
    print("sleep!")

class sleep(activities):
  pass

class walk(activities):
  def action(self):
    print("Sail!")

class eat(activities):
  def action(self):
    print("Fly!")

sleep1 = sleep("pillow", "bed")
walk1 = walk("shoe", "20") 
eat1 = eat("food", "calories") 

for x in (sleep1, walk1, eat1):
  print(x.prop1)
  print(x.prop2)
  x.action()

pillow
bed
sleep!
shoe
20
Sail!
food
calories
Fly!

In [ ]:
# Encapsulation

In [86]:
# Creating a base class 
class Base: 
    def __init__(self): 
  
        # Protected member 
        self._a = 2
  
# Creating a derived class 
class Derived(Base): 
    def __init__(self): 
  
        # Calling constructor of 
        # Base class 
        Base.__init__(self) 
        print("Calling protected member of base class: ",self._a) 
  
        # Modify the protected variable: 
        self._a = 3
        print("Calling modified protected member outside class: ",self._a) 
  
  
obj1 = Derived() 
  
obj2 = Base() 

print("Accessing protected member of obj1: ", obj1._a) 
  
# Accessing the protected variable outside 
print("Accessing protected member of obj2: ", obj2._a)

Calling protected member of base class:  2
Calling modified protected member outside class:  3
Accessing protected member of obj1:  3
Accessing protected member of obj2:  2

In [89]:
class Base: 
    def __init__(self): 
        self.a = "Testingdsata"
        self._b = "Testingdsata_protected"
        self.__c = "Private_data"
  
# Creating a derived class 
class Derived(Base): 
    def __init__(self): 
  
        # Calling constructor of 
        # Base class 
        Base.__init__(self) 
        print("Calling private member of base class: ") 
        print(self.__c) 
  
  
# Driver code 
obj1 = Base() 
print('this is a base attribute ' + obj1.a) 
print('this is a protected attribute ' + obj1._b) 
print('this is a private attribute ' + obj1.__c)

this is a base attribute Testingdsata
this is a protected attribute Testingdsata_protected

AttributeError: 'Base' object has no attribute '__c'

In [90]:
def f1():
    print ("calling f1")

In [91]:
f1()

calling f1

In [92]:
print(f1)

<function f1 at 0x0000023BE577BA60>

In [93]:
def f1():
    print ("calling f1")

In [94]:
def f2(f):
    f()

In [95]:
f2(f1)

calling f1

In [96]:
def f1(func):
    def wrapper():
        print("started")
        func()
        print("Ended")
    return wrapper   

def f():
    print ("Hi")

In [97]:
f1(f)

In [98]:
print(f1(f))

<function f1.<locals>.wrapper at 0x0000023BE53F3C80>

In [99]:
def f1(func):
    def wrapper():
        print("started")
        func()
        print("Ended")
    return wrapper 
def f():
    print ("Hi")

In [100]:
f = f1(f)

In [101]:
f()

started
Hi
Ended

In [102]:
def f1(func):
    def wrapper():
        print("started")
        func()
        print("Ended")
    return wrapper   

@f1 # >> this is the decorator 
def f():
    print ("Hi")

In [103]:
f()

started
Hi
Ended

In [104]:
def f1(func):
    def wrapper():
        print("started")
        func()
        print("Ended")
    return wrapper   

@f1
def f(a):
    print (a)

In [105]:
f("hi")

TypeError: wrapper() takes 0 positional arguments but 1 was given

In [109]:
def greet(name, **kwargs): 
  message = f"Hello, {name}!"
  if info.get("age"):
    message += f" You are {kwargs['age']} years old and you live in {kwargs['city']}."
  print(message)

greet("Gary", age=30, city="Washington")  # Pass keyword arguments
# We can give any name to this its compulsory to use **

NameError: name 'info' is not defined

In [108]:
def sum_all(*args):
  total = 0
  for num in args:
    total += num
  return total

result = sum_all(1, 2, 3, 4, 5,5,6,7,8)  # You can pass any number of arguments
print(result)  # Output: 15

41

In [110]:
def f1(func):
    def wrapper(*args,**kwargs):
        print("started")
        func(*args,**kwargs)
        print("Ended")
    return wrapper   

@f1
def f(a):
    print (a)

In [111]:
f("hi")

started
hi
Ended

In [113]:
def f1(func):
    def wrapper(*args,**kwargs):
        print("started")
        func(*args,**kwargs)
        print("Ended")
    return wrapper   

@f1
def f(a,b=52):
    print (a,b)

In [114]:
f("hi")

started
hi 52
Ended

In [115]:
def f1(func):
    def wrapper(*args,**kwargs):
        print("started")
        return func(*args,**kwargs)
        print("Ended")
    return wrapper   

@f1
def substract(a,b):
    return a - b

In [116]:
# practice >> prepare for the other mathematical calculations

print(substract(8,2))

started
6

In [119]:
def f1(func):
    def wrapper(*args,**kwargs):
        print("started")
        res = func(*args,**kwargs)
        print("Ended")
    
        return res
        
    return wrapper   

@f1
def substract(a,b):
    return a - b

In [120]:
print(substract(8,2))

started
Ended
6

In [121]:
import time

def before_after(func):
    def wrapper(*args):
        print("Before")
        func(*args)
        print("After")
    return wrapper

class test:
    @before_after
    def decorated_method(self):
        print("run")

In [122]:
t = test()

In [123]:
t.decorated_method()

Before
run
After

In [ ]:
# 03/31/2024 

# File Handling

In [9]:
# No need to specify the file location when the txt file is in the python files location
f = open("testfile.txt")

In [10]:
print(f.read())

Hi
welcome
This is Data enginering course test file

In [6]:
print(f)

<_io.TextIOWrapper name='testfile.txt' mode='r' encoding='cp1252'>

In [11]:
print(f.read(),"r")

 r

In [12]:
# the read function in python will consider the spaces also as the words.
f = open("testfile.txt")
print(f.read(5))

Hi
w

In [13]:
f = open("testfile.txt")
print(f.readline()) # This will read the first line.

Hi

In [14]:
f = open("testfile.txt")
for x in f: print(x)

Hi

welcome

This is Data enginering course test file

In [ ]:
# We have to close the files to relase the resources holding the file.
# We have to close the file as in some cases due to buffering changes made to a file may not show up until we close the file.
f.close()

In [ ]:
# append
# Writing to an existing file we have to append it , so along with the open () functon we have to add parameters "a" and "w"
# "a" >> append
# "w" >> overwrite the exsiting one.

In [15]:
f = open("testfile.txt","a")
f.write("New line has been added")
f.close()

In [31]:
f = open("testfile2233.txt","a")

In [32]:
f = open("testfile223344.txt","a")
f.write("New line has been added")
f.close()

In [17]:
f = open("testfile.txt")
print(f.read())

Hi
welcome
This is Data enginering course test fileNew line has been added

In [18]:
f = open("C:\Users\LENOVO\Documents\DataEngineering2024\testingfile\testfile12.txt")
print(f.read())

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-18-fc08cc672ba1>, line 1)

In [19]:
f = open("C:\\Users\\LENOVO\\Documents\\DataEngineering2024\\testingfile\\testfile12.txt")
print(f.read())

Hi
welcome
This is Data enginering course test fileNew line has been added

In [20]:
# in this case we are using the regular expression
# represented with " r "

f = open(r"C:\Users\LENOVO\Documents\DataEngineering2024\testingfile\testfile12.txt")
print(f.read())

Hi
welcome
This is Data enginering course test fileNew line has been added

In [21]:
f = open("testfile.txt")
print(f.read(10))

Hi
welcom

In [23]:
import tensorflow # if we dont install the modules then we get this error

ModuleNotFoundError: No module named 'tensorflow'

In [ ]:
pip install <moudle name>

In [25]:
pip install os-sys

Collecting os-sys
  Downloading https://files.pythonhosted.org/packages/89/4a/ecf84210a9c02f4d246c10f28a50050c6934eb9257298eb6d7aeef32c38b/os_sys-2.1.4-py3-none-any.whl (15.6MB)
Collecting progressbar (from os-sys)
  Downloading https://files.pythonhosted.org/packages/a3/a6/b8e451f6cff1c99b4747a2f7235aa904d2d49e8e1464e0b798272aa84358/progressbar-2.5.tar.gz
Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (from os-sys) (0.24.2)
Requirement already satisfied: Send2Trash in c:\users\lenovo\anaconda3\lib\site-packages (from os-sys) (1.5.0)
Requirement already satisfied: jupyter in c:\users\lenovo\anaconda3\lib\site-packages (from os-sys) (1.0.0)
Collecting wifi (from os-sys)
  Downloading https://files.pythonhosted.org/packages/fe/a9/d026afe8a400dd40122385cd690e4fff4d574ed16f5c3a0f5e3921bfd383/wifi-0.3.8.tar.gz
Requirement already satisfied: sqlalchemy<1.4,>=1.3 in c:\users\lenovo\anaconda3\lib\site-packages (from os-sys) (1.3.1)
Collecting spacy==2.2.0 (from os-sys)
  Downloading https://files.pythonhosted.org/packages/df/05/47bef6b21a7e6e2b660b464d9017eb15d485b9e5b33188d3002dfc8e5bb1/spacy-2.2.0-cp37-cp37m-win_amd64.whl (9.3MB)
Collecting selenium (from os-sys)
  Downloading https://files.pythonhosted.org/packages/10/56/8288d1813a68c1e0638515dbb777fce6d87d0d240e683216f956145310e6/selenium-4.11.2-py3-none-any.whl (7.2MB)
Requirement already satisfied: tqdm in c:\users\lenovo\anaconda3\lib\site-packages (from os-sys) (4.31.1)
Requirement already satisfied: beautifulsoup4 in c:\users\lenovo\anaconda3\lib\site-packages (from os-sys) (4.7.1)
Collecting PyInstaller (from os-sys)
  Downloading https://files.pythonhosted.org/packages/1a/74/c65be869ae47649b98a928b3122c27d72fe372138aab4dc6cdd42e217d8a/pyinstaller-5.13.2-py3-none-win_amd64.whl (1.3MB)
Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (from os-sys) (1.16.2)
Collecting geocoder (from os-sys)
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
Collecting auto-py-to-exe (from os-sys)
  Downloading https://files.pythonhosted.org/packages/83/9c/e9961de2282caf782645a2aaedc3b8a7f0cd7ad0eb4a4e6696ae4f76de97/auto_py_to_exe-2.43.3-py2.py3-none-any.whl (187kB)
Collecting pyspeedtest (from os-sys)
  Downloading https://files.pythonhosted.org/packages/83/b8/1fd99c76a49b2eb2f8f4d7ee335f5983d492b05d8e1bc091b7c7931ec613/pyspeedtest-1.2.7.tar.gz
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from os-sys) (1.12.0)
Collecting progress (from os-sys)
  Downloading https://files.pythonhosted.org/packages/2a/68/d8412d1e0d70edf9791cbac5426dc859f4649afc22f2abbeb0d947cf70fd/progress-1.6.tar.gz
Collecting cefpython3 (from os-sys)
  Downloading https://files.pythonhosted.org/packages/3b/d4/f313221a999e4d295cc8fcb15fc4ac9c98f6759e50735d6f6ce84fd3e98a/cefpython3-66.1-py2.py3-none-win_amd64.whl (69.0MB)
Collecting Eel (from os-sys)
  Downloading https://files.pythonhosted.org/packages/2e/8f/a60971f45884f871a5f1e249e75c0c80745568683fa17378cd200e929681/Eel-0.16.0.tar.gz
Collecting os-sys-php (from os-sys)
  Downloading https://files.pythonhosted.org/packages/f5/07/6ce030c3e6cb273c4e21cbf7d24b88a1bf18d594d8f72aa7f2853475e45d/os_sys_php-2019.10.13-py3-none-any.whl (38.6MB)
Requirement already satisfied: pytz in c:\users\lenovo\anaconda3\lib\site-packages (from os-sys) (2018.9)
Collecting sqlparse (from os-sys)
  Downloading https://files.pythonhosted.org/packages/98/5a/66d7c9305baa9f11857f247d4ba761402cea75db6058ff850ed7128957b7/sqlparse-0.4.4-py3-none-any.whl (41kB)
Collecting mathparse<0.2,>=0.1 (from os-sys)
  Downloading https://files.pythonhosted.org/packages/c3/e5/4910fb85950cb960fcf3f5aabe1c8e55f5c9201788a1c1302b570a7e1f84/mathparse-0.1.2-py3-none-any.whl
Requirement already satisfied: nltk<4.0,>=3.2 in c:\users\lenovo\anaconda3\lib\site-packages (from os-sys) (3.4)
Requirement already satisfied: pyyaml<5.2,>=5.1 in c:\users\lenovo\anaconda3\lib\site-packages (from os-sys) (5.1)
Collecting Django (from os-sys)
  Downloading https://files.pythonhosted.org/packages/30/8e/cc23c762c5dcd1d367d73cf006a326e0df2bd0e785cba18b658b39904c1e/Django-3.2.25-py3-none-any.whl (7.9MB)
Collecting netifaces (from os-sys)
  Downloading https://files.pythonhosted.org/packages/a9/65/eea4d675d8bb5acc243d44f93a4b5757fcda223a6817ef2864c1491fe60f/netifaces-0.11.0-cp37-cp37m-win_amd64.whl
Collecting tuspy (from os-sys)
  Downloading https://files.pythonhosted.org/packages/52/81/ec2c616fc39202911d14e3adc4b2681e8c052a8981574a9f988cdd6b9212/tuspy-1.0.3-py3-none-any.whl
Collecting pint>=0.8.1 (from os-sys)
  Downloading https://files.pythonhosted.org/packages/0a/98/98b3c6d954b6bd8531c611fb24be53ccc66438f493b05ec4b107942e27b7/Pint-0.18-py2.py3-none-any.whl (209kB)
Requirement already satisfied: requests in c:\users\lenovo\anaconda3\lib\site-packages (from os-sys) (2.21.0)
Requirement already satisfied: psutil in c:\users\lenovo\anaconda3\lib\site-packages (from os-sys) (5.6.1)
Collecting wmi (from os-sys)
  Downloading https://files.pythonhosted.org/packages/ee/b9/a80d1ed4d115dac8e2ac08d16af046a77ab58e3d186e22395bf2add24090/WMI-1.5.1-py2.py3-none-any.whl
Collecting pypiwin32 (from os-sys)
  Downloading https://files.pythonhosted.org/packages/d0/1b/2f292bbd742e369a100c91faa0483172cd91a1a422a6692055ac920946c5/pypiwin32-223-py3-none-any.whl
Collecting text-editor (from os-sys)
Note: you may need to restart the kernel to use updated packages.

  Could not find a version that satisfies the requirement text-editor (from os-sys) (from versions: )
No matching distribution found for text-editor (from os-sys)

In [22]:
os.remove(r"C:\Users\LENOVO\Documents\DataEngineering2024\testingfile\testfile12.txt")

NameError: name 'os' is not defined

In [26]:
import os
os.remove(r"C:\Users\LENOVO\Documents\DataEngineering2024\testingfile\testfile12.txt")

In [27]:
os.rmdir(r"C:\Users\LENOVO\Documents\DataEngineering2024\testingfile\del") # if we are trying to delete a folder make sure the folder is empty.

In [28]:
pwd

'C:\\Users\\LENOVO\\Documents\\DataEngineering2024'

In [30]:
# command to check if the file exists and then update the name just to refresh the access
import os

f = r'C:\Users\LENOVO\Documents\DataEngineering2024\testingfile\testfile12.txt'
if os.path.exists(f):
    try:
        os.rename(f, f)
        print ('Access on file "' + f +'" is available!')
    except OSError as e:
        print ('Access-error on file "' + f + '"! \n' + str(e))

In [33]:
# 02/04/2024
# pip install pandas
# Key value pairs
# Dictionaires
# Json format 
# Data frames
# Indexes >> 

import pandas as pd

ds = {
        'std_name':['ram','sam','suriya'],
        'dob':[1621977,14121985,26052003]
}

mvar=pd.DataFrame(ds)

print(mvar)

  std_name       dob
0      ram   1621977
1      sam  14121985
2   suriya  26052003

In [34]:
 print(ds.loc[0])  # This will raise an AttributeError

AttributeError: 'dict' object has no attribute 'loc'

In [35]:
# this block of code is called as "error hanlding methods"
try:
    print(ds.loc[0])  # This will raise an AttributeError
except AttributeError:
    print("Oops! AttributeError caught.")

Oops! AttributeError caught.

In [36]:
# CSV >> Comma Separated Values
import pandas as pd
df = pd.read_csv('artists.csv')
print(df)

                             id  followers  \
0        0DheY5irMjBUeLybbCUEZ2        0.0
1        0DlhY15l3wsrnlfGio2bjU        5.0
2        0DmRESX2JknGPQyO15yxg7        0.0
3        0DmhnbHjm1qw6NCYPeZNgJ        0.0
4        0Dn11fWM7vHQ3rinvWEl4E        2.0
5        0DotfDlYMGqkbzfBhcA5r6        7.0
6        0DqP3bOCiC48L8SM9gK4W8        1.0
7        0Drs3maQb99iRglyTuxizI        0.0
8        0DsPeAi1gxPPnYjgpiEGSR        0.0
9        0DtvnTxgZ9K5YaPS5jdlQW       20.0
10       0Du4t8UK1lBD8TnOIa3c17        1.0
11       0DuJ5k2ERoAizEdgUzJGTc        0.0
12       0DujX6vG6qOz2wVBCQg5Vi        0.0
13       0DvBSYDq5ikdlKgp94Yamq        1.0
14       0DvvojCMIqsOT1Btiwvq1h      422.0
15       0DxcE03jyjg3wQVHUQKx8C        0.0
16       0DxsGcq4ILa7Ss2CmZfipk        0.0
17       0DzKNJPHYPMaLDxDVEuznX        4.0
18       0DzfuBZVzDryD5ZqKla8EW        0.0
19       0DzvgthIK2nmlAPE0A2Uvo        0.0
20       0E01IqK2Q0vhDHOrQHRoHv        0.0
21       0E0SpAZoIxSSvBefCBLfUB        3.0
22       0E0afUR6aObnzDTMvjMEuC        3.0
23       0E0eEzoo3nfBf5efmw6S1Q        0.0
24       0E0n2GRFDjxWw3NiIAG8O3       66.0
25       0E1g9toY6vQ4ANdEWV3H2o        1.0
26       0E2KoM6UMbdCUigMup7Mm5        0.0
27       0E2f4liezEM9Q9OpIovTXJ        0.0
28       0E3abAxpm40VzlkhFxBhUc        0.0
29       0E3hfspo8Y6JaVY7hx9Dbw       11.0
...                         ...        ...
1162065  6vX1NJj4DTYPLao9oRtZc8       33.0
1162066  209v7LjUrpsbsik1AoGXqF       23.0
1162067  0NSODqljgIwDzrZKLPDno3       51.0
1162068  3hSRSAwKdBpjJX15fwrhPU       35.0
1162069  2qVIlG7b7QyyBJEBdfMdSA        5.0
1162070  3UnAVg2Zel01y5FDxYWHL5       32.0
1162071  4XWwnGUBUPnWXZIEbeURMh       21.0
1162072  6GOKjenDXHZDMCtCzXXI9O       16.0
1162073  1oR9lnJuf3ihKSwGu4Ph8B       20.0
1162074  68MHNriQdF9UagG2Si1d0F        1.0
1162075  54cEPaH0NTifMLjFq3L8Gj      328.0
1162076  5vX1UmLrd43vAEbGL6BKUY      122.0
1162077  7u4vqazW8NbXSLorzpZYZ6       41.0
1162078  1Zk80PnqV7uoc8vMzpX9nZ       13.0
1162079  5qmon2ceyHHvbFYzFBCo9J       26.0
1162080  32cqXFEVL4d9DyvtHuleHa      666.0
1162081  6EtAJfmBl4YeK7oyaRua5i     5804.0
1162082  245CRwGNgdSkkwUo10Xpre     1267.0
1162083  7hyMkNkpKuKJoIq4J7F4Uo      636.0
1162084  1dT71t6LJhv2FuLM0zuegn      598.0
1162085  4JLYIWkIU0p2zxtTaixtoC      328.0
1162086  6fulEar0uOeRNYLp7RvaKg     1598.0
1162087  0vZbvoyHDSwTGY4v1oUo31     1682.0
1162088  3V4ODgUObsEHFX6GQUy8xl      419.0
1162089  2AuW39AOSXtNdQP6thlLgi      188.0
1162090  3cOzi726Iav1toV2LRVEjp     4831.0
1162091  6LogY6VMM3jgAE6fPzXeMl       46.0
1162092  19boQkDEIay9GaVAWkUhTa      257.0
1162093  5nvjpU3Y7L6Hpe54QuvDjy     2357.0
1162094  2bP2cNhNBdKXHC6AnqgyVp       40.0

                                                genres  \
0                                                   []
1                                                   []
2                                                   []
3                                                   []
4                                                   []
5                                                   []
6                                                   []
7                                                   []
8                                                   []
9                                                   []
10                                                  []
11                                                  []
12                                                  []
13                                                  []
14                                                  []
15                                                  []
16                                                  []
17                                                  []
18                                                  []
19                                                  []
20                                                  []
21                                                  []
22                                                  []
23                                                  []
24                                                  []
25                                                  []
26                                                  []
27                                                  []
28                                                  []
29                                                  []
...                                                ...
1162065                                             []
1162066                                             []
1162067                                             []
1162068                     ['brazilian experimental']
1162069                                             []
1162070                                             []
1162071                                             []
1162072                                             []
1162073                                             []
1162074                                             []
1162075                                             []
1162076                                             []
1162077                                             []
1162078                                             []
1162079                                             []
1162080                               ['black comedy']
1162081                               ['black comedy']
1162082                               ['black comedy']
1162083                               ['black comedy']
1162084                               ['black comedy']
1162085                  ['deep comedy', 'new comedy']
1162086                  ['deep comedy', 'new comedy']
1162087  ['clean comedy', 'deep comedy', 'new comedy']
1162088                                ['deep comedy']
1162089                                             []
1162090                               ['black comedy']
1162091                                             []
1162092                                             []
1162093                               ['black comedy']
1162094                                 ['new comedy']

                                                   name  popularity
0        Armid & Amir Zare Pashai feat. Sara Rouzbehani           0
1                                           ปูนา ภาวิณี           0
2                                                 Sadaa           0
3                                             Tra'gruda           0
4                                Ioannis Panoutsopoulos           0
5                                         Astral Affect           0
6                                             Yung Seed           0
7                                                 Wi'Ma           0
8                                               lentboy           0
9                                              addworks           0
10                                          Harrbazzter           0
11                                       Helena Brunner           0
12                                       Deezy McDuffie           0
13                                        Riyaz Azaimar           0
14                                        Sidonie Radio           0
15                                           Le Chamête           0
16                                             Lipin. P           0
17                                         Breakingnews           0
18                                       TINY x dr.KONG           0
19                                               Stan P           0
20                                              Smockda           0
21                                              El Bago           0
22                                       Kazuki Komatsu           0
23                                        Omar Ferreyra           0
24                                            Los Argon           0
25                                        Uhmforcestare           0
26                                       Wemerson Paulo           0
27                                             Snathers           0
28                                            Joel Tepp           0
29                                   Letters to Lillian           0
...                                                 ...         ...
1162065                                    The Crawdads           0
1162066                                        Property           0
1162067                           The Blue and the Gray           2
1162068                                        Muepetmo           0
1162069                                    Liberty Caps           0
1162070                               A Thousand Lights           0
1162071                                  Everything New           0
1162072                                      Truth Cell           0
1162073                                        Faustina           0
1162074                                  The Poppycocks           0
1162075                                   Kevin Bozeman           5
1162076                Arthur Dodge & The Horsefeathers           2
1162077                                The Black Mollys           0
1162078                            Rapunzel and Sedayne           0
1162079                                 Jenny McCormick           0
1162080                                  Dwayne Perkins          20
1162081                                       Deon Cole          31
1162082                                  Lil Rel Howery          25
1162083                                    Gerald Kelly          12
1162084                                     Faizon Love          11
1162085                                Gabriel Rutledge          14
1162086                                   Joe Zimmerman          27
1162087                                      Josh Sneed          20
1162088                                   Matt McCarthy           9
1162089                                      Ty Barnett           3
1162090                                      Ali Siddiq          34
1162091                                    Rodney Laney           2
1162092                                    Blake Wexler          10
1162093                                Donnell Rawlings          15
1162094                                        Gabe Kea           8

[1162095 rows x 5 columns]

In [39]:
df.head(20) # to get the first or top "n" number of rows

,id,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,[],Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5.0,[],ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0.0,[],Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0.0,[],Tra'gruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2.0,[],Ioannis Panoutsopoulos,0
5,0DotfDlYMGqkbzfBhcA5r6,7.0,[],Astral Affect,0
6,0DqP3bOCiC48L8SM9gK4W8,1.0,[],Yung Seed,0
7,0Drs3maQb99iRglyTuxizI,0.0,[],Wi'Ma,0
8,0DsPeAi1gxPPnYjgpiEGSR,0.0,[],lentboy,0
9,0DtvnTxgZ9K5YaPS5jdlQW,20.0,[],addworks,0
10,0Du4t8UK1lBD8TnOIa3c17,1.0,[],Harrbazzter,0
11,0DuJ5k2ERoAizEdgUzJGTc,0.0,[],Helena Brunner,0
12,0DujX6vG6qOz2wVBCQg5Vi,0.0,[],Deezy McDuffie,0
13,0DvBSYDq5ikdlKgp94Yamq,1.0,[],Riyaz Azaimar,0
14,0DvvojCMIqsOT1Btiwvq1h,422.0,[],Sidonie Radio,0
15,0DxcE03jyjg3wQVHUQKx8C,0.0,[],Le Chamête,0
16,0DxsGcq4ILa7Ss2CmZfipk,0.0,[],Lipin. P,0
17,0DzKNJPHYPMaLDxDVEuznX,4.0,[],Breakingnews,0
18,0DzfuBZVzDryD5ZqKla8EW,0.0,[],TINY x dr.KONG,0
19,0DzvgthIK2nmlAPE0A2Uvo,0.0,[],Stan P,0

In [40]:
df.tail(15) # to get the last "n" rows

,id,followers,genres,name,popularity
1162080,32cqXFEVL4d9DyvtHuleHa,666.0,['black comedy'],Dwayne Perkins,20
1162081,6EtAJfmBl4YeK7oyaRua5i,5804.0,['black comedy'],Deon Cole,31
1162082,245CRwGNgdSkkwUo10Xpre,1267.0,['black comedy'],Lil Rel Howery,25
1162083,7hyMkNkpKuKJoIq4J7F4Uo,636.0,['black comedy'],Gerald Kelly,12
1162084,1dT71t6LJhv2FuLM0zuegn,598.0,['black comedy'],Faizon Love,11
1162085,4JLYIWkIU0p2zxtTaixtoC,328.0,"['deep comedy', 'new comedy']",Gabriel Rutledge,14
1162086,6fulEar0uOeRNYLp7RvaKg,1598.0,"['deep comedy', 'new comedy']",Joe Zimmerman,27
1162087,0vZbvoyHDSwTGY4v1oUo31,1682.0,"['clean comedy', 'deep comedy', 'new comedy']",Josh Sneed,20
1162088,3V4ODgUObsEHFX6GQUy8xl,419.0,['deep comedy'],Matt McCarthy,9
1162089,2AuW39AOSXtNdQP6thlLgi,188.0,[],Ty Barnett,3
1162090,3cOzi726Iav1toV2LRVEjp,4831.0,['black comedy'],Ali Siddiq,34
1162091,6LogY6VMM3jgAE6fPzXeMl,46.0,[],Rodney Laney,2
1162092,19boQkDEIay9GaVAWkUhTa,257.0,[],Blake Wexler,10
1162093,5nvjpU3Y7L6Hpe54QuvDjy,2357.0,['black comedy'],Donnell Rawlings,15
1162094,2bP2cNhNBdKXHC6AnqgyVp,40.0,['new comedy'],Gabe Kea,8

In [41]:
df.shape

(1162095, 5)

In [42]:
df.head()

,id,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,[],Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5.0,[],ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0.0,[],Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0.0,[],Tra'gruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2.0,[],Ioannis Panoutsopoulos,0

In [43]:
df.tail()

,id,followers,genres,name,popularity
1162090,3cOzi726Iav1toV2LRVEjp,4831.0,['black comedy'],Ali Siddiq,34
1162091,6LogY6VMM3jgAE6fPzXeMl,46.0,[],Rodney Laney,2
1162092,19boQkDEIay9GaVAWkUhTa,257.0,[],Blake Wexler,10
1162093,5nvjpU3Y7L6Hpe54QuvDjy,2357.0,['black comedy'],Donnell Rawlings,15
1162094,2bP2cNhNBdKXHC6AnqgyVp,40.0,['new comedy'],Gabe Kea,8

In [44]:
df.columns

Index(['id', 'followers', 'genres', 'name', 'popularity'], dtype='object')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1162095 entries, 0 to 1162094
Data columns (total 5 columns):
id            1162095 non-null object
followers     1162084 non-null float64
genres        1162095 non-null object
name          1162095 non-null object
popularity    1162095 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 44.3+ MB

In [46]:
import pandas as pd
dft = pd.read_csv('tracks.csv')
print(dft)

                            id                                 name  \
0       35iwgR4jXetI318WEWsa1Q                                Carve
1       021ht4sdgPcrDgSk7JTbKY  Capítulo 2.16 - Banquero Anarquista
2                          NaN                                  NaN
3                          NaN                                  NaN
4                          NaN                                  NaN
5                          NaN                                  NaN
6                          NaN                                  NaN
7                          NaN                                  NaN
8                          NaN                                  NaN
9                          NaN                                  NaN
10                         NaN                                  NaN
11                         NaN                                  NaN
12                         NaN                                  NaN
13                         NaN                                  NaN
14                         NaN                                  NaN
15                         NaN                                  NaN
16                         NaN                                  NaN
17                         NaN                                  NaN
18                         NaN                                  NaN
19                         NaN                                  NaN
20                         NaN                                  NaN
21                         NaN                                  NaN
22                         NaN                                  NaN
23                         NaN                                  NaN
24                         NaN                                  NaN
25                         NaN                                  NaN
26                         NaN                                  NaN
27                         NaN                                  NaN
28                         NaN                                  NaN
29                         NaN                                  NaN
...                        ...                                  ...
586642                     NaN                                  NaN
586643                     NaN                                  NaN
586644                     NaN                                  NaN
586645                     NaN                                  NaN
586646                     NaN                                  NaN
586647                     NaN                                  NaN
586648                     NaN                                  NaN
586649                     NaN                                  NaN
586650                     NaN                                  NaN
586651                     NaN                                  NaN
586652                     NaN                                  NaN
586653                     NaN                                  NaN
586654                     NaN                                  NaN
586655                     NaN                                  NaN
586656                     NaN                                  NaN
586657                     NaN                                  NaN
586658                     NaN                                  NaN
586659                     NaN                                  NaN
586660                     NaN                                  NaN
586661                     NaN                                  NaN
586662                     NaN                                  NaN
586663                     NaN                                  NaN
586664                     NaN                                  NaN
586665                     NaN                                  NaN
586666                     NaN                                  NaN
586667                     NaN                                  NaN
586668                     NaN                                  NaN
586669                     NaN                                  NaN
586670                     NaN                                  NaN
586671                     NaN                                  NaN

        popularity  duration_ms  explicit              artists  \
0              6.0     126903.0       0.0              ['Uli']
1              0.0      98200.0       0.0  ['Fernando Pessoa']
2              NaN          NaN       NaN                  NaN
3              NaN          NaN       NaN                  NaN
4              NaN          NaN       NaN                  NaN
5              NaN          NaN       NaN                  NaN
6              NaN          NaN       NaN                  NaN
7              NaN          NaN       NaN                  NaN
8              NaN          NaN       NaN                  NaN
9              NaN          NaN       NaN                  NaN
10             NaN          NaN       NaN                  NaN
11             NaN          NaN       NaN                  NaN
12             NaN          NaN       NaN                  NaN
13             NaN          NaN       NaN                  NaN
14             NaN          NaN       NaN                  NaN
15             NaN          NaN       NaN                  NaN
16             NaN          NaN       NaN                  NaN
17             NaN          NaN       NaN                  NaN
18             NaN          NaN       NaN                  NaN
19             NaN          NaN       NaN                  NaN
20             NaN          NaN       NaN                  NaN
21             NaN          NaN       NaN                  NaN
22             NaN          NaN       NaN                  NaN
23             NaN          NaN       NaN                  NaN
24             NaN          NaN       NaN                  NaN
25             NaN          NaN       NaN                  NaN
26             NaN          NaN       NaN                  NaN
27             NaN          NaN       NaN                  NaN
28             NaN          NaN       NaN                  NaN
29             NaN          NaN       NaN                  NaN
...            ...          ...       ...                  ...
586642         NaN          NaN       NaN                  NaN
586643         NaN          NaN       NaN                  NaN
586644         NaN          NaN       NaN                  NaN
586645         NaN          NaN       NaN                  NaN
586646         NaN          NaN       NaN                  NaN
586647         NaN          NaN       NaN                  NaN
586648         NaN          NaN       NaN                  NaN
586649         NaN          NaN       NaN                  NaN
586650         NaN          NaN       NaN                  NaN
586651         NaN          NaN       NaN                  NaN
586652         NaN          NaN       NaN                  NaN
586653         NaN          NaN       NaN                  NaN
586654         NaN          NaN       NaN                  NaN
586655         NaN          NaN       NaN                  NaN
586656         NaN          NaN       NaN                  NaN
586657         NaN          NaN       NaN                  NaN
586658         NaN          NaN       NaN                  NaN
586659         NaN          NaN       NaN                  NaN
586660         NaN          NaN       NaN                  NaN
586661         NaN          NaN       NaN                  NaN
586662         NaN          NaN       NaN                  NaN
586663         NaN          NaN       NaN                  NaN
586664         NaN          NaN       NaN                  NaN
586665         NaN          NaN       NaN                  NaN
586666         NaN          NaN       NaN                  NaN
586667         NaN          NaN       NaN                  NaN
586668         NaN          NaN       NaN                  NaN
586669         NaN          NaN       NaN                  NaN
586670         NaN          NaN       NaN                  NaN
586671         NaN          NaN       NaN                  NaN

                        id_artists release_date  danceability  energy  key  \
0       ['45tIt06XoI0Iio4LBEVpls']    2/22/1922         0.645   0.445  0.0
1       ['14jtPCOoNZwquk5wd9DxrY']     6/1/1922         0.695   0.263  0.0
2                              NaN          NaN           NaN     NaN  NaN
3                              NaN          NaN           NaN     NaN  NaN
4                              NaN          NaN           NaN     NaN  NaN
5                              NaN          NaN           NaN     NaN  NaN
6                              NaN          NaN           NaN     NaN  NaN
7                              NaN          NaN           NaN     NaN  NaN
8                              NaN          NaN           NaN     NaN  NaN
9                              NaN          NaN           NaN     NaN  NaN
10                             NaN          NaN           NaN     NaN  NaN
11                             NaN          NaN           NaN     NaN  NaN
12                             NaN          NaN           NaN     NaN  NaN
13                             NaN          NaN           NaN     NaN  NaN
14                             NaN          NaN           NaN     NaN  NaN
15                             NaN          NaN           NaN     NaN  NaN
16                             NaN          NaN           NaN     NaN  NaN
17                             NaN          NaN           NaN     NaN  NaN
18                             NaN          NaN           NaN     NaN  NaN
19                             NaN          NaN           NaN     NaN  NaN
20                             NaN          NaN           NaN     NaN  NaN
21                             NaN          NaN           NaN     NaN  NaN
22                             NaN          NaN           NaN     NaN  NaN
23                             NaN          NaN           NaN     NaN  NaN
24                             NaN          NaN           NaN     NaN  NaN
25                             NaN          NaN           NaN     NaN  NaN
26                             NaN          NaN           NaN     NaN  NaN
27                             NaN          NaN           NaN     NaN  NaN
28                             NaN          NaN           NaN     NaN  NaN
29                             NaN          NaN           NaN     NaN  NaN
...                            ...          ...           ...     ...  ...
586642                         NaN          NaN           NaN     NaN  NaN
586643                         NaN          NaN           NaN     NaN  NaN
586644                         NaN          NaN           NaN     NaN  NaN
586645                         NaN          NaN           NaN     NaN  NaN
586646                         NaN          NaN           NaN     NaN  NaN
586647                         NaN          NaN           NaN     NaN  NaN
586648                         NaN          NaN           NaN     NaN  NaN
586649                         NaN          NaN           NaN     NaN  NaN
586650                         NaN          NaN           NaN     NaN  NaN
586651                         NaN          NaN           NaN     NaN  NaN
586652                         NaN          NaN           NaN     NaN  NaN
586653                         NaN          NaN           NaN     NaN  NaN
586654                         NaN          NaN           NaN     NaN  NaN
586655                         NaN          NaN           NaN     NaN  NaN
586656                         NaN          NaN           NaN     NaN  NaN
586657                         NaN          NaN           NaN     NaN  NaN
586658                         NaN          NaN           NaN     NaN  NaN
586659                         NaN          NaN           NaN     NaN  NaN
586660                         NaN          NaN           NaN     NaN  NaN
586661                         NaN          NaN           NaN     NaN  NaN
586662                         NaN          NaN           NaN     NaN  NaN
586663                         NaN          NaN           NaN     NaN  NaN
586664                         NaN          NaN           NaN     NaN  NaN
586665                         NaN          NaN           NaN     NaN  NaN
586666                         NaN          NaN           NaN     NaN  NaN
586667                         NaN          NaN           NaN     NaN  NaN
586668                         NaN          NaN           NaN     NaN  NaN
586669                         NaN          NaN           NaN     NaN  NaN
586670                         NaN          NaN           NaN     NaN  NaN
586671                         NaN          NaN           NaN     NaN  NaN

        loudness  mode  speechiness  acousticness  instrumentalness  liveness  \
0        -13.338   1.0        0.451         0.674             0.744     0.151
1        -22.136   1.0        0.957         0.797             0.000     0.148
2            NaN   NaN          NaN           NaN               NaN       NaN
3            NaN   NaN          NaN           NaN               NaN       NaN
4            NaN   NaN          NaN           NaN               NaN       NaN
5            NaN   NaN          NaN           NaN               NaN       NaN
6            NaN   NaN          NaN           NaN               NaN       NaN
7            NaN   NaN          NaN           NaN               NaN       NaN
8            NaN   NaN          NaN           NaN               NaN       NaN
9            NaN   NaN          NaN           NaN               NaN       NaN
10           NaN   NaN          NaN           NaN               NaN       NaN
11           NaN   NaN          NaN           NaN               NaN       NaN
12           NaN   NaN          NaN           NaN               NaN       NaN
13           NaN   NaN          NaN           NaN               NaN       NaN
14           NaN   NaN          NaN           NaN               NaN       NaN
15           NaN   NaN          NaN           NaN               NaN       NaN
16           NaN   NaN          NaN           NaN               NaN       NaN
17           NaN   NaN          NaN           NaN               NaN       NaN
18           NaN   NaN          NaN           NaN               NaN       NaN
19           NaN   NaN          NaN           NaN               NaN       NaN
20           NaN   NaN          NaN           NaN               NaN       NaN
21           NaN   NaN          NaN           NaN               NaN       NaN
22           NaN   NaN          NaN           NaN               NaN       NaN
23           NaN   NaN          NaN           NaN               NaN       NaN
24           NaN   NaN          NaN           NaN               NaN       NaN
25           NaN   NaN          NaN           NaN               NaN       NaN
26           NaN   NaN          NaN           NaN               NaN       NaN
27           NaN   NaN          NaN           NaN               NaN       NaN
28           NaN   NaN          NaN           NaN               NaN       NaN
29           NaN   NaN          NaN           NaN               NaN       NaN
...          ...   ...          ...           ...               ...       ...
586642       NaN   NaN          NaN           NaN               NaN       NaN
586643       NaN   NaN          NaN           NaN               NaN       NaN
586644       NaN   NaN          NaN           NaN               NaN       NaN
586645       NaN   NaN          NaN           NaN               NaN       NaN
586646       NaN   NaN          NaN           NaN               NaN       NaN
586647       NaN   NaN          NaN           NaN               NaN       NaN
586648       NaN   NaN          NaN           NaN               NaN       NaN
586649       NaN   NaN          NaN           NaN               NaN       NaN
586650       NaN   NaN          NaN           NaN               NaN       NaN
586651       NaN   NaN          NaN           NaN               NaN       NaN
586652       NaN   NaN          NaN           NaN               NaN       NaN
586653       NaN   NaN          NaN           NaN               NaN       NaN
586654       NaN   NaN          NaN           NaN               NaN       NaN
586655       NaN   NaN          NaN           NaN               NaN       NaN
586656       NaN   NaN          NaN           NaN               NaN       NaN
586657       NaN   NaN          NaN           NaN               NaN       NaN
586658       NaN   NaN          NaN           NaN               NaN       NaN
586659       NaN   NaN          NaN           NaN               NaN       NaN
586660       NaN   NaN          NaN           NaN               NaN       NaN
586661       NaN   NaN          NaN           NaN               NaN       NaN
586662       NaN   NaN          NaN           NaN               NaN       NaN
586663       NaN   NaN          NaN           NaN               NaN       NaN
586664       NaN   NaN          NaN           NaN               NaN       NaN
586665       NaN   NaN          NaN           NaN               NaN       NaN
586666       NaN   NaN          NaN           NaN               NaN       NaN
586667       NaN   NaN          NaN           NaN               NaN       NaN
586668       NaN   NaN          NaN           NaN               NaN       NaN
586669       NaN   NaN          NaN           NaN               NaN       NaN
586670       NaN   NaN          NaN           NaN               NaN       NaN
586671       NaN   NaN          NaN           NaN               NaN       NaN

        valence    tempo  time_signature
0         0.127  104.851             3.0
1         0.655  102.009             1.0
2           NaN      NaN             NaN
3           NaN      NaN             NaN
4           NaN      NaN             NaN
5           NaN      NaN             NaN
6           NaN      NaN             NaN
7           NaN      NaN             NaN
8           NaN      NaN             NaN
9           NaN      NaN             NaN
10          NaN      NaN             NaN
11          NaN      NaN             NaN
12          NaN      NaN             NaN
13          NaN      NaN             NaN
14          NaN      NaN             NaN
15          NaN      NaN             NaN
16          NaN      NaN             NaN
17          NaN      NaN             NaN
18          NaN      NaN             NaN
19          NaN      NaN             NaN
20          NaN      NaN             NaN
21          NaN      NaN             NaN
22          NaN      NaN             NaN
23          NaN      NaN             NaN
24          NaN      NaN             NaN
25          NaN      NaN             NaN
26          NaN      NaN             NaN
27          NaN      NaN             NaN
28          NaN      NaN             NaN
29          NaN      NaN             NaN
...         ...      ...             ...
586642      NaN      NaN             NaN
586643      NaN      NaN             NaN
586644      NaN      NaN             NaN
586645      NaN      NaN             NaN
586646      NaN      NaN             NaN
586647      NaN      NaN             NaN
586648      NaN      NaN             NaN
586649      NaN      NaN             NaN
586650      NaN      NaN             NaN
586651      NaN      NaN             NaN
586652      NaN      NaN             NaN
586653      NaN      NaN             NaN
586654      NaN      NaN             NaN
586655      NaN      NaN             NaN
586656      NaN      NaN             NaN
586657      NaN      NaN             NaN
586658      NaN      NaN             NaN
586659      NaN      NaN             NaN
586660      NaN      NaN             NaN
586661      NaN      NaN             NaN
586662      NaN      NaN             NaN
586663      NaN      NaN             NaN
586664      NaN      NaN             NaN
586665      NaN      NaN             NaN
586666      NaN      NaN             NaN

C:\Users\LENOVO\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0,1,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [47]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586672 entries, 0 to 586671
Data columns (total 20 columns):
id                  2 non-null object
name                2 non-null object
popularity          2 non-null float64
duration_ms         2 non-null float64
explicit            2 non-null float64
artists             2 non-null object
id_artists          2 non-null object
release_date        2 non-null object
danceability        2 non-null float64
energy              2 non-null float64
key                 2 non-null float64
loudness            2 non-null float64
mode                2 non-null float64
speechiness         2 non-null float64
acousticness        2 non-null float64
instrumentalness    2 non-null float64
liveness            2 non-null float64
valence             2 non-null float64
tempo               2 non-null float64
time_signature      2 non-null float64
dtypes: float64(15), object(5)
memory usage: 89.5+ MB

In [48]:
s=dft.dtypes

In [49]:
print(s)

id                   object
name                 object
popularity          float64
duration_ms         float64
explicit            float64
artists              object
id_artists           object
release_date         object
danceability        float64
energy              float64
key                 float64
loudness            float64
mode                float64
speechiness         float64
acousticness        float64
instrumentalness    float64
liveness            float64
valence             float64
tempo               float64
time_signature      float64
dtype: object

In [50]:
dft.memory_usage()

Index                    80
id                  4693376
name                4693376
popularity          4693376
duration_ms         4693376
explicit            4693376
artists             4693376
id_artists          4693376
release_date        4693376
danceability        4693376
energy              4693376
key                 4693376
loudness            4693376
mode                4693376
speechiness         4693376
acousticness        4693376
instrumentalness    4693376
liveness            4693376
valence             4693376
tempo               4693376
time_signature      4693376
dtype: int64

In [ ]:
# renaming the columns 
df.rename(columns = {'xxxx' : 'yyyy'})

In [53]:
df = df.rename(columns = {'followers' : 'followers_count'})

In [56]:
df = df.rename(columns = {'name' : 'artist_name'})

In [57]:
df.columns

Index(['id', 'followers_count', 'genres', 'artist_name', 'popularity'], dtype='object')

In [ ]:
# 3/4/2024

In [24]:
import json

In [116]:
with open ("state.json")as f:
    data = json.load(f)

In [118]:
print(data)
type(data)

{'states': [{'name': 'Alabama', 'code': 'AL'}, {'name': 'Alaska', 'code': 'AK'}, {'name': 'Arizona', 'code': 'AZ'}, {'name': 'Arkansas', 'code': 'AR'}, {'name': 'California', 'code': 'CA'}, {'name': 'Colorado', 'code': 'CO'}, {'name': 'Connecticut', 'code': 'CT'}, {'name': 'Delaware', 'code': 'DE'}, {'name': 'Florida', 'code': 'FL'}, {'name': 'Georgia', 'code': 'GA'}, {'name': 'Hawaii', 'code': 'HI'}, {'name': 'Idaho', 'code': 'ID'}, {'name': 'Illinois', 'code': 'IL'}, {'name': 'Indiana', 'code': 'IN'}, {'name': 'Iowa', 'code': 'IA'}, {'name': 'Kansas', 'code': 'KS'}, {'name': 'Kentucky', 'code': 'KY'}, {'name': 'Louisiana', 'code': 'LA'}, {'name': 'Maine', 'code': 'ME'}, {'name': 'Maryland', 'code': 'MD'}, {'name': 'Massachusetts', 'code': 'MA'}, {'name': 'Michigan', 'code': 'MI'}, {'name': 'Minnesota', 'code': 'MN'}, {'name': 'Mississippi', 'code': 'MS'}, {'name': 'Missouri', 'code': 'MO'}, {'name': 'Montana', 'code': 'MT'}, {'name': 'Nebraska', 'code': 'NE'}, {'name': 'Nevada', 'code': 'NV'}, {'name': 'New Hampshire', 'code': 'NH'}, {'name': 'New Jersey', 'code': 'NJ'}, {'name': 'New Mexico', 'code': 'NM'}, {'name': 'New York', 'code': 'NY'}, {'name': 'North Carolina', 'code': 'NC'}, {'name': 'North Dakota', 'code': 'ND'}, {'name': 'Ohio', 'code': 'OH'}, {'name': 'Oklahoma', 'code': 'OK'}, {'name': 'Oregon', 'code': 'OR'}, {'name': 'Pennsylvania', 'code': 'PA'}, {'name': 'Rhode Island', 'code': 'RI'}]}

dict

In [119]:
data1=(data['states'])

In [121]:
print(data1)
type(data1)

[{'name': 'Alabama', 'code': 'AL'}, {'name': 'Alaska', 'code': 'AK'}, {'name': 'Arizona', 'code': 'AZ'}, {'name': 'Arkansas', 'code': 'AR'}, {'name': 'California', 'code': 'CA'}, {'name': 'Colorado', 'code': 'CO'}, {'name': 'Connecticut', 'code': 'CT'}, {'name': 'Delaware', 'code': 'DE'}, {'name': 'Florida', 'code': 'FL'}, {'name': 'Georgia', 'code': 'GA'}, {'name': 'Hawaii', 'code': 'HI'}, {'name': 'Idaho', 'code': 'ID'}, {'name': 'Illinois', 'code': 'IL'}, {'name': 'Indiana', 'code': 'IN'}, {'name': 'Iowa', 'code': 'IA'}, {'name': 'Kansas', 'code': 'KS'}, {'name': 'Kentucky', 'code': 'KY'}, {'name': 'Louisiana', 'code': 'LA'}, {'name': 'Maine', 'code': 'ME'}, {'name': 'Maryland', 'code': 'MD'}, {'name': 'Massachusetts', 'code': 'MA'}, {'name': 'Michigan', 'code': 'MI'}, {'name': 'Minnesota', 'code': 'MN'}, {'name': 'Mississippi', 'code': 'MS'}, {'name': 'Missouri', 'code': 'MO'}, {'name': 'Montana', 'code': 'MT'}, {'name': 'Nebraska', 'code': 'NE'}, {'name': 'Nevada', 'code': 'NV'}, {'name': 'New Hampshire', 'code': 'NH'}, {'name': 'New Jersey', 'code': 'NJ'}, {'name': 'New Mexico', 'code': 'NM'}, {'name': 'New York', 'code': 'NY'}, {'name': 'North Carolina', 'code': 'NC'}, {'name': 'North Dakota', 'code': 'ND'}, {'name': 'Ohio', 'code': 'OH'}, {'name': 'Oklahoma', 'code': 'OK'}, {'name': 'Oregon', 'code': 'OR'}, {'name': 'Pennsylvania', 'code': 'PA'}, {'name': 'Rhode Island', 'code': 'RI'}]

list

In [124]:
df_json=pd.DataFrame(data1)

In [125]:
type(df_json)

pandas.core.frame.DataFrame

In [126]:
print(df_json)

              name code
0          Alabama   AL
1           Alaska   AK
2          Arizona   AZ
3         Arkansas   AR
4       California   CA
5         Colorado   CO
6      Connecticut   CT
7         Delaware   DE
8          Florida   FL
9          Georgia   GA
10          Hawaii   HI
11           Idaho   ID
12        Illinois   IL
13         Indiana   IN
14            Iowa   IA
15          Kansas   KS
16        Kentucky   KY
17       Louisiana   LA
18           Maine   ME
19        Maryland   MD
20   Massachusetts   MA
21        Michigan   MI
22       Minnesota   MN
23     Mississippi   MS
24        Missouri   MO
25         Montana   MT
26        Nebraska   NE
27          Nevada   NV
28   New Hampshire   NH
29      New Jersey   NJ
30      New Mexico   NM
31        New York   NY
32  North Carolina   NC
33    North Dakota   ND
34            Ohio   OH
35        Oklahoma   OK
36          Oregon   OR
37    Pennsylvania   PA
38    Rhode Island   RI

In [128]:
import pandas as pd
readjson = pd.read_json("state.json")

In [130]:
print(readjson)

                                      states
0          {'name': 'Alabama', 'code': 'AL'}
1           {'name': 'Alaska', 'code': 'AK'}
2          {'name': 'Arizona', 'code': 'AZ'}
3         {'name': 'Arkansas', 'code': 'AR'}
4       {'name': 'California', 'code': 'CA'}
5         {'name': 'Colorado', 'code': 'CO'}
6      {'name': 'Connecticut', 'code': 'CT'}
7         {'name': 'Delaware', 'code': 'DE'}
8          {'name': 'Florida', 'code': 'FL'}
9          {'name': 'Georgia', 'code': 'GA'}
10          {'name': 'Hawaii', 'code': 'HI'}
11           {'name': 'Idaho', 'code': 'ID'}
12        {'name': 'Illinois', 'code': 'IL'}
13         {'name': 'Indiana', 'code': 'IN'}
14            {'name': 'Iowa', 'code': 'IA'}
15          {'name': 'Kansas', 'code': 'KS'}
16        {'name': 'Kentucky', 'code': 'KY'}
17       {'name': 'Louisiana', 'code': 'LA'}
18           {'name': 'Maine', 'code': 'ME'}
19        {'name': 'Maryland', 'code': 'MD'}
20   {'name': 'Massachusetts', 'code': 'MA'}
21        {'name': 'Michigan', 'code': 'MI'}
22       {'name': 'Minnesota', 'code': 'MN'}
23     {'name': 'Mississippi', 'code': 'MS'}
24        {'name': 'Missouri', 'code': 'MO'}
25         {'name': 'Montana', 'code': 'MT'}
26        {'name': 'Nebraska', 'code': 'NE'}
27          {'name': 'Nevada', 'code': 'NV'}
28   {'name': 'New Hampshire', 'code': 'NH'}
29      {'name': 'New Jersey', 'code': 'NJ'}
30      {'name': 'New Mexico', 'code': 'NM'}
31        {'name': 'New York', 'code': 'NY'}
32  {'name': 'North Carolina', 'code': 'NC'}
33    {'name': 'North Dakota', 'code': 'ND'}
34            {'name': 'Ohio', 'code': 'OH'}
35        {'name': 'Oklahoma', 'code': 'OK'}
36          {'name': 'Oregon', 'code': 'OR'}
37    {'name': 'Pennsylvania', 'code': 'PA'}
38    {'name': 'Rhode Island', 'code': 'RI'}

In [131]:
dfxlx = pd.read_excel('accidents.xls')

In [133]:
dfxlx.head((10))

,accident_index,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_location-restricted_lane,junction_location,skidding_and_overturning,hit_object_in_carriageway,vehicle_leaving_carriageway,...,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
0,201506E098757,2,9,0,18,0,8,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201506E098766,1,9,0,9,0,8,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,201506E098766,2,9,0,18,0,8,0,0,0,...,8.0,3.0,0.0,0.0,0.0,0.0,0.0,9.0,1.0,3.0
3,201506E098777,1,20,0,4,0,0,0,0,0,...,6.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
4,201506E098780,1,9,0,15,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,201506E098780,2,1,0,9,0,5,0,0,0,...,8.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0
6,201506E098792,1,3,0,4,0,2,0,0,0,...,6.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,3.0
7,201506E098792,2,9,0,4,0,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,201506E098804,1,9,0,14,0,1,0,0,0,...,3.0,3.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,2.0
9,201506E098826,1,9,0,4,0,0,0,0,0,...,5.0,3.0,0.0,0.0,1.0,0.0,0.0,9.0,1.0,1.0

In [135]:
# Python will not understand "\"
# Remediation is to use the "r" >> regular expressions
# using the "/"
dfxlx2 = pd.read_excel('d:/accidents.xls')
#D:\

In [136]:
dfxlx2.head(2)

,accident_index,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_location-restricted_lane,junction_location,skidding_and_overturning,hit_object_in_carriageway,vehicle_leaving_carriageway,...,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
0,201506E098757,2,9,0,18,0,8,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201506E098766,1,9,0,9,0,8,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
dfxlx2.columns

Index(['accident_index', 'vehicle_reference', 'vehicle_type',
       'towing_and_articulation', 'vehicle_manoeuvre',
       'vehicle_location-restricted_lane', 'junction_location',
       'skidding_and_overturning', 'hit_object_in_carriageway',
       'vehicle_leaving_carriageway', 'hit_object_off_carriageway',
       '1st_point_of_impact', 'was_vehicle_left_hand_drive?',
       'journey_purpose_of_driver', 'sex_of_driver', 'age_of_driver',
       'age_band_of_driver', 'engine_capacity_(cc)', 'propulsion_code',
       'age_of_vehicle', 'driver_imd_decile', 'driver_home_area_type',
       'vehicle_imd_decile', 'NUmber_of_Casualities_unique_to_accident_index',
       'No_of_Vehicles_involved_unique_to_accident_index',
       'location_easting_osgr', 'location_northing_osgr', 'longitude',
       'latitude', 'police_force', 'accident_severity', 'number_of_vehicles',
       'number_of_casualties', 'date', 'day_of_week', 'time',
       'local_authority_(district)', 'local_authority_(highway)',
       '1st_road_class', '1st_road_number', 'road_type', 'speed_limit',
       'junction_detail', 'junction_control', '2nd_road_class',
       '2nd_road_number', 'pedestrian_crossing-human_control',
       'pedestrian_crossing-physical_facilities', 'light_conditions',
       'weather_conditions', 'road_surface_conditions',
       'special_conditions_at_site', 'carriageway_hazards',
       'urban_or_rural_area', 'did_police_officer_attend_scene_of_accident',
       'lsoa_of_accident_location', 'casualty_reference', 'casualty_class',
       'sex_of_casualty', 'age_of_casualty', 'age_band_of_casualty',
       'casualty_severity', 'pedestrian_location', 'pedestrian_movement',
       'car_passenger', 'bus_or_coach_passenger',
       'pedestrian_road_maintenance_worker', 'casualty_type',
       'casualty_home_area_type', 'casualty_imd_decile'],
      dtype='object')

In [139]:
dfxlx2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 70 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   accident_index                                    65535 non-null  object
 1   vehicle_reference                                 65535 non-null  int64
 2   vehicle_type                                      65535 non-null  int64
 3   towing_and_articulation                           65535 non-null  int64
 4   vehicle_manoeuvre                                 65535 non-null  int64
 5   vehicle_location-restricted_lane                  65535 non-null  int64
 6   junction_location                                 65535 non-null  int64
 7   skidding_and_overturning                          65535 non-null  int64
 8   hit_object_in_carriageway                         65535 non-null  int64
 9   vehicle_leaving_carriageway                       65535 non-null  int64
 10  hit_object_off_carriageway                        65535 non-null  int64
 11  1st_point_of_impact                               65535 non-null  int64
 12  was_vehicle_left_hand_drive?                      65535 non-null  int64
 13  journey_purpose_of_driver                         65535 non-null  int64
 14  sex_of_driver                                     65535 non-null  int64
 15  age_of_driver                                     65535 non-null  int64
 16  age_band_of_driver                                65535 non-null  int64
 17  engine_capacity_(cc)                              65535 non-null  int64
 18  propulsion_code                                   65535 non-null  int64
 19  age_of_vehicle                                    65535 non-null  int64
 20  driver_imd_decile                                 65535 non-null  int64
 21  driver_home_area_type                             65535 non-null  int64
 22  vehicle_imd_decile                                65535 non-null  int64
 23  NUmber_of_Casualities_unique_to_accident_index    65535 non-null  int64
 24  No_of_Vehicles_involved_unique_to_accident_index  65535 non-null  int64
 25  location_easting_osgr                             65532 non-null  float64
 26  location_northing_osgr                            65532 non-null  float64
 27  longitude                                         65532 non-null  float64
 28  latitude                                          65532 non-null  float64
 29  police_force                                      65535 non-null  int64
 30  accident_severity                                 65535 non-null  int64
 31  number_of_vehicles                                65535 non-null  int64
 32  number_of_casualties                              65535 non-null  int64
 33  date                                              65535 non-null  object
 34  day_of_week                                       65535 non-null  int64
 35  time                                              65535 non-null  object
 36  local_authority_(district)                        65535 non-null  int64
 37  local_authority_(highway)                         65535 non-null  object
 38  1st_road_class                                    65535 non-null  int64
 39  1st_road_number                                   65535 non-null  int64
 40  road_type                                         65535 non-null  int64
 41  speed_limit                                       65535 non-null  int64
 42  junction_detail                                   65535 non-null  int64
 43  junction_control                                  65535 non-null  int64
 44  2nd_road_class                                    65535 non-null  int64
 45  2nd_road_number                                   65535 non-null  int64
 46  pedestrian_crossing-human_control                 65535 non-null  int64
 47  pedestrian_crossing-physical_facilities           65535 non-null  int64
 48  light_conditions                                  65535 non-null  int64
 49  weather_conditions                                65535 non-null  int64
 50  road_surface_conditions                           65535 non-null  int64
 51  special_conditions_at_site                        65535 non-null  int64
 52  carriageway_hazards                               65535 non-null  int64
 53  urban_or_rural_area                               65535 non-null  int64
 54  did_police_officer_attend_scene_of_accident       65535 non-null  int64
 55  lsoa_of_accident_location                         65391 non-null  object
 56  casualty_reference                                41923 non-null  float64
 57  casualty_class                                    41923 non-null  float64
 58  sex_of_casualty                                   41923 non-null  float64
 59  age_of_casualty                                   41923 non-null  float64
 60  age_band_of_casualty                              41923 non-null  float64
 61  casualty_severity                                 41923 non-null  float64
 62  pedestrian_location                               41923 non-null  float64
 63  pedestrian_movement                               41923 non-null  float64
 64  car_passenger                                     41923 non-null  float64
 65  bus_or_coach_passenger                            41923 non-null  float64
 66  pedestrian_road_maintenance_worker                41923 non-null  float64
 67  casualty_type                                     41923 non-null  float64
 68  casualty_home_area_type                           41923 non-null  float64
 69  casualty_imd_decile                               41923 non-null  float64
dtypes: float64(18), int64(47), object(5)
memory usage: 35.0+ MB

In [87]:
# this module is to use SQL statements to read the python dataframes

pip install pandasql

Collecting pandasql
  Downloading https://files.pythonhosted.org/packages/6b/c4/ee4096ffa2eeeca0c749b26f0371bd26aa5c8b611c43de99a4f86d3de0a7/pandasql-0.7.3.tar.gz
Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in c:\users\lenovo\anaconda3\lib\site-packages (from pandasql) (1.3.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.12.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Stored in directory: C:\Users\LENOVO\AppData\Local\pip\Cache\wheels\53\6c\18\b87a2e5fa8a82e9c026311de56210b8d1c01846e18a9607fc9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3
Note: you may need to restart the kernel to use updated packages.

In [141]:
import pandas as pd
import pandasql as ps

df_sql = pd.DataFrame([[1234, 'Customer A', '123 Street', ''],
               [1234, 'Customer A',  '', '333 Street'],
               [1233, 'Customer B', '444 Street', '333 Street'],
              [1233, 'Customer B', '444 Street', '666 Street']], columns=
['ID', 'Customer', 'Billing Address', 'Shipping Address'])

q1 = """SELECT ID FROM df_sql"""
q2 = """SELECT * FROM df_sql"""

print(ps.sqldf(q2, locals()))

     ID    Customer Billing Address Shipping Address
0  1234  Customer A      123 Street
1  1234  Customer A                       333 Street
2  1233  Customer B      444 Street       333 Street
3  1233  Customer B      444 Street       666 Street

In [147]:
import pandas as pd
import pandasql as ps
q1 = """SELECT * FROM dfxlx limit 5 """
q2 = """SELECT * FROM dfxlx where vehicle_type = 20 Limit 5"""
#print(ps.sqldf(q1, locals()))
print(ps.sqldf(q2, locals()))

  accident_index  vehicle_reference  vehicle_type  towing_and_articulation  \
0  201506E098777                  1            20                        0
1  201506J001555                  2            20                        1
2  201506J003221                  3            20                        0
3  201506K002752                  1            20                        0
4  201506K003386                  1            20                        0

   vehicle_manoeuvre  vehicle_location-restricted_lane  junction_location  \
0                  4                                 0                  0
1                 17                                 0                  1
2                  3                                 0                  1
3                 17                                 0                  1
4                 18                                 0                  1

   skidding_and_overturning  hit_object_in_carriageway  \
0                         0                          0
1                         3                          0
2                         0                          0
3                         5                         10
4                         0                          0

   vehicle_leaving_carriageway  ...  age_band_of_casualty  casualty_severity  \
0                            0  ...                   6.0                3.0
1                            0  ...                   NaN                NaN
2                            0  ...                   NaN                NaN
3                            2  ...                   9.0                3.0
4                            0  ...                   3.0                3.0

   pedestrian_location  pedestrian_movement  car_passenger  \
0                  1.0                  1.0            0.0
1                  NaN                  NaN            NaN
2                  NaN                  NaN            NaN
3                  0.0                  0.0            0.0
4                  5.0                  1.0            0.0

   bus_or_coach_passenger  pedestrian_road_maintenance_worker  casualty_type  \
0                     0.0                                 0.0            0.0
1                     NaN                                 NaN            NaN
2                     NaN                                 NaN            NaN
3                     0.0                                 0.0           20.0
4                     0.0                                 0.0            0.0

   casualty_home_area_type  casualty_imd_decile
0                      1.0                  1.0
1                      NaN                  NaN
2                      NaN                  NaN
3                      1.0                 10.0
4                      1.0                  1.0

[5 rows x 70 columns]

In [155]:
import pandas as pd

data = {
"name": ["John", "Mary", "John", "Sally", "Mary"],
"age": [40, 30, 40, 50, 30],
"city": ["Bergen", "Oslo", "Stavanger", "Oslo", "Oslo"]
}

df = pd.DataFrame(data)

s = df.duplicated()

print(s)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [156]:
df.drop_duplicates(inplace = True)

In [157]:
print(df)

    name  age       city
0   John   40     Bergen
1   Mary   30       Oslo
2   John   40  Stavanger
3  Sally   50       Oslo

In [149]:
df_dups = dfxlx.duplicated()

In [150]:
print(df_dups)

0        False
1        False
2        False
3        False
4        False
         ...
65530    False
65531    False
65532    False
65533    False
65534    False
Length: 65535, dtype: bool

In [99]:
dfxlx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 70 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   accident_index                                    65535 non-null  object
 1   vehicle_reference                                 65535 non-null  int64
 2   vehicle_type                                      65535 non-null  int64
 3   towing_and_articulation                           65535 non-null  int64
 4   vehicle_manoeuvre                                 65535 non-null  int64
 5   vehicle_location-restricted_lane                  65535 non-null  int64
 6   junction_location                                 65535 non-null  int64
 7   skidding_and_overturning                          65535 non-null  int64
 8   hit_object_in_carriageway                         65535 non-null  int64
 9   vehicle_leaving_carriageway                       65535 non-null  int64
 10  hit_object_off_carriageway                        65535 non-null  int64
 11  1st_point_of_impact                               65535 non-null  int64
 12  was_vehicle_left_hand_drive?                      65535 non-null  int64
 13  journey_purpose_of_driver                         65535 non-null  int64
 14  sex_of_driver                                     65535 non-null  int64
 15  age_of_driver                                     65535 non-null  int64
 16  age_band_of_driver                                65535 non-null  int64
 17  engine_capacity_(cc)                              65535 non-null  int64
 18  propulsion_code                                   65535 non-null  int64
 19  age_of_vehicle                                    65535 non-null  int64
 20  driver_imd_decile                                 65535 non-null  int64
 21  driver_home_area_type                             65535 non-null  int64
 22  vehicle_imd_decile                                65535 non-null  int64
 23  NUmber_of_Casualities_unique_to_accident_index    65535 non-null  int64
 24  No_of_Vehicles_involved_unique_to_accident_index  65535 non-null  int64
 25  location_easting_osgr                             65532 non-null  float64
 26  location_northing_osgr                            65532 non-null  float64
 27  longitude                                         65532 non-null  float64
 28  latitude                                          65532 non-null  float64
 29  police_force                                      65535 non-null  int64
 30  accident_severity                                 65535 non-null  int64
 31  number_of_vehicles                                65535 non-null  int64
 32  number_of_casualties                              65535 non-null  int64
 33  date                                              65535 non-null  object
 34  day_of_week                                       65535 non-null  int64
 35  time                                              65535 non-null  object
 36  local_authority_(district)                        65535 non-null  int64
 37  local_authority_(highway)                         65535 non-null  object
 38  1st_road_class                                    65535 non-null  int64
 39  1st_road_number                                   65535 non-null  int64
 40  road_type                                         65535 non-null  int64
 41  speed_limit                                       65535 non-null  int64
 42  junction_detail                                   65535 non-null  int64
 43  junction_control                                  65535 non-null  int64
 44  2nd_road_class                                    65535 non-null  int64
 45  2nd_road_number                                   65535 non-null  int64
 46  pedestrian_crossing-human_control                 65535 non-null  int64
 47  pedestrian_crossing-physical_facilities           65535 non-null  int64
 48  light_conditions                                  65535 non-null  int64
 49  weather_conditions                                65535 non-null  int64
 50  road_surface_conditions                           65535 non-null  int64
 51  special_conditions_at_site                        65535 non-null  int64
 52  carriageway_hazards                               65535 non-null  int64
 53  urban_or_rural_area                               65535 non-null  int64
 54  did_police_officer_attend_scene_of_accident       65535 non-null  int64
 55  lsoa_of_accident_location                         65391 non-null  object
 56  casualty_reference                                41923 non-null  float64
 57  casualty_class                                    41923 non-null  float64
 58  sex_of_casualty                                   41923 non-null  float64
 59  age_of_casualty                                   41923 non-null  float64
 60  age_band_of_casualty                              41923 non-null  float64
 61  casualty_severity                                 41923 non-null  float64
 62  pedestrian_location                               41923 non-null  float64
 63  pedestrian_movement                               41923 non-null  float64
 64  car_passenger                                     41923 non-null  float64
 65  bus_or_coach_passenger                            41923 non-null  float64
 66  pedestrian_road_maintenance_worker                41923 non-null  float64
 67  casualty_type                                     41923 non-null  float64
 68  casualty_home_area_type                           41923 non-null  float64
 69  casualty_imd_decile                               41923 non-null  float64
dtypes: float64(18), int64(47), object(5)
memory usage: 35.0+ MB

In [103]:
# we use the drop_duplicates to delete the duplicates in the dataframe.
df.drop_duplicates(inplace = True)

In [104]:
print(df)

    name  age       city
0   John   40     Bergen
1   Mary   30       Oslo
2   John   40  Stavanger
3  Sally   50       Oslo

In [152]:
duplicate_rows=dfxlx.duplicated(subset = ["casualty_class","car_passenger"])

In [153]:
print(duplicate_rows)

0        False
1         True
2        False
3        False
4         True
         ...
65530     True
65531     True
65532     True
65533     True
65534     True
Length: 65535, dtype: bool

In [107]:
import pandas as pd

data = {
"name": ["John", "Mary", "John", "Sally", "Mary"],
"age": [40,"" , 40, 50, 30],
"city": ["Bergen", "Oslo", "Stavanger", "Oslo", "Oslo"]
}
df = pd.DataFrame(data)

s = df.duplicated()

print(s)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [108]:
print(df)

    name age       city
0   John  40     Bergen
1   Mary           Oslo
2   John  40  Stavanger
3  Sally  50       Oslo
4   Mary  30       Oslo

In [ ]:
# to read the csv or xls we use read_csv , to write the dataframe back to drive we use to_csv 
df.to_csv(r"C:\Users\LENOVO\Documents\DataEngineering2024\test.csv")

In [154]:
dfxlx.to_excel(r"C:\Users\LENOVO\Documents\DataEngineering2024\test.xlsx")

In [113]:
pip install psycopg2

Collecting psycopg2
  Downloading https://files.pythonhosted.org/packages/be/a7/0a39176d369a8289191f3d327139cfb4923dcedcfd7105774e57996f63cd/psycopg2-2.9.9-cp37-cp37m-win_amd64.whl (1.2MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [114]:
# we have to install the module psycopg2 to connect the postgers database
# pip install  psycopg2
# FQDN -- Fully Qualified Domain Name
import psycopg2

In [ ]:
# To establish the connection string
conn = psycopg2.connect(
   database="postgres", user='pg1', password='password', host='127.0.0.1', port= '5432'
)
# FQDN (Fully Qualified Domain Name DESKTOP-KN9LOGV.wipro.com)
# In place of host we can either have the IP address or the FQDN
# Port Number

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute("select version()")